/**
 * Account
 */

.account-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid var(--border);
  padding-bottom: rem(15px);
  margin-bottom: rem(30px);

  button,
  .btn { margin-bottom: 10px; }
}

.account--login {
  .no-js & .is-hidden {
    visibility: visible;
    max-height: none;
    opacity: 1;
  }
}

.account {
  display: block;
  margin: 40px auto;
}

.address-delete { margin-left: 20px; }


.account form { padding: 20px 0; }

.account input[type="hidden"] + .form-message,
.account .form-message:first-child { margin-top: -20px; }

.account .form-message { padding-bottom: 20px; }

.account .form-field { max-width: none; }

.account .forgot-password {
  display: flex;
  width: 100%;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.errors ul {
  text-align: left;
  color: #B00;
}

.action-bottom .note { margin: 0 10px; }

.note > a { margin-left: 5px; }

// ACCOUNT LANDING
.account table { width: 100%; }

.account table th {
  background: var(--bg-accent);
  border: 1px solid var(--bg-accent);
  -webkit-backface-visibility: visible;
}

.account-sidebar {
  @include media-query ($medium-up) {
    position: sticky;
    top: var(--header-sticky-height, 0px);
  }
}

.account-sidebar ul {
  list-style: none;
  margin: 0;
}

.account-sidebar li { margin: 8px 0; }
.account-sidebar li.is-current a { color: var(--link-hover); }

// ADDRESSES
.account-main h2.theme,
.account h4.theme { text-align: left; }

.account table.customer-address-table,
.account table.customer-address-table th,
.account table.customer-address-table td {
  border: 0;
  padding: 15px 0 0;
}

.account table.customer-address-table input[type="text"] { width: 100%; }

.address-tables { padding-top: 10px; }

.address-actions { font-size: var(--font-body-small); }

.account .edit-address table,
.account .edit-address form {
  margin: 0;
  padding: 0;
}

.account .edit-address table td { padding: 0 0 15px; }
.account .edit-address select { max-width: 150px; }
.account .edit-address label { padding: 0 15px 0 0; }

// ORDERS
.order-address {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--gap);

  @include media-query ($mobile) {
    grid-template-columns: auto;
  }
}

.order-info {
  width: 100%;
  grid-column: 1 / -1;
}

.order-info span.status { font-style: italic; }

@include media-query ($small) {
  .account-sidebar,
  .account-main {
    width: 100%;
    margin: 0 0 20px;
  }

  .account-sidebar__title {
    padding: 10px 15px;
  }

  .address-table { width: 100%; }

  .account-sidebar {
    margin: 0 0 20px;
    padding: 0;
    text-align: left;
    min-height: 0;
    position: relative;
    background: var(--bg-accent);
  }

  .account-sidebar ul {
    background: var(--bg-accent);
  }

  .account-sidebar li {
    margin: 0;
    display: block;
    border-top: 1px solid var(--border);
  }

  .account-sidebar a {
    display: block;
    padding: 15px;
  }
}

@include media-query($mobile) {
  .account .edit-address table td {
    display: block;
    padding: 0 0 10px;
  }

  .account table .payment-status,
  .account table .total { display: none; }

  .order-address .col {
    margin: 0 0 15px;
  }

  .order-details-m,
  .order-details-m td {
    border: 0;
    vertical-align: top;

    & > img { max-width: 90px; }
  }

  .order-details-m p { margin: 0; }
}

.order__item__subscription {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: var(--font-body-small);
}

.order__item__savings { margin-top: 10px; }

.order__item--original {
  color: var(--text-a50);
  text-decoration: line-through;
}

.order-image { width: 90px; }