/*====== Accordions ======*/
.accordion-group__items {
  display: grid;
  align-items: start;
  column-gap: var(--gap);

  @include media-query($medium-up) { grid-template-columns: repeat(var(--accordion-columns, 1), minmax(0, 1fr)); }
}

.accordions-holder + .accordions-holder { margin-top: -1px; } // Eliminate the double border between sections

.accordions-holder {
  // No margins if reviews are disabled from Theme Settings or we use the section reviews on PDP with accordion setting on
  &:empty { margin: 0 !important; }

  @include media-query($small) {
    .accordion__body {
      margin-left: var(--outer-offset);
      margin-right: var(--outer-offset);
    }
  }
}

.accordion__heading {
  line-height: normal;
  margin: 40px 0;
  grid-column: 1 / -1;

  &:first-child { margin-top: 0; }

  @include media-query($small) {
    margin: 0 0 36px 0;
  }
}

.accordion {
  display: block;
  //border-bottom: 1px solid var(--border);
  //border-top: 1px solid var(--border);
  // We need 1px negative margin for each accordion as if the first one is excluded, they won't be aligned with the second column
  //margin-top: -1px;
  text-align: left;
  margin-top: 24px;
  &:first-of-type { margin-top: 0; }

  @include media-query($small) {
    margin-top: 16px;
  }
}

.accordion__title {
  display: flex;
  align-items: center;
  text-transform: unset;
  font-family: 'MohaveSemibold';
  font-weight: 700;
  border-bottom: 2px solid var(--border);
  padding: 12px 30px 12px 0;
  margin: 0;

  @include media-query($small) {
    line-height: 1.2;
  }

  .icon-plus,
  .icon-minus {
    right: -9px;
    --icon-size: 39px;
  }
}

.accordion__title .icon__animated {
  --icon-min-height: calc(var(--FONT-SIZE-BASE) * 1.2);

  margin: 0 var(--inner) 0 0;
  align-self: start;
  min-height: var(--icon-min-height);
}

.accordion__title.h4 .icon__animated {
  --icon-min-height: calc(var(--font-heading-small) * 1.2);
}

.accordion__title .icon__animated .icon {
  position: static;
  transform: none;
}

.accordion__content {
  padding-top: 24px;

  @include media-query($small) {
    padding-top: 16px;
  }
}

.flavcity-cafe.accordion-group {
  background: var(--bg-accent);

  .wrapper {
    max-width: 884px;
  }

  .accordion__heading {
    @include media-query($small) {
      line-height: 120%;
    }
  }

  .accordion__content {
    @include media-query($small) {
      font-size: 16px;
      font-weight: 500;
      line-height: 160%;
    }
  }
}