.product-bundle {
  display: block;
}

/*start header*/
.product-bundle__header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.product-bundle__heading {
  font-family: var(--FONT-MOHAVE);
  font-size: 24px;
  color: var(--text);
}

.product-bundle__info {
  font-size: 14px;
  color: var(--text);
}

.product-bundle__badge {
  font-weight: 500;
  text-align: center;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-radius: 100px;
  background: #FFC025;
  font-size: 12px;
  font-family: var(--FONT-MOHAVE);
  line-height: normal;
  text-transform: uppercase;
  color: #000000;
  padding: 3px 12px;
  margin: -1px auto 0px 0;
}
/*end header*/

/*start content*/
.product-bundle__contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 18px 14px;
  border-radius: 16px;
  background-color: var(--COLOR-BG-ACCENT-LIGHTEN);

  @include media-query ($large-down) {
    padding: 15px;
  }

  @include media-query ($medium-down) {
    gap: 10px;
    padding: 10px;
  }
}

.product-bundle__contents-footer-inner {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.product-bundle__contents-footer-price {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--FONT-MOHAVE);
  color: var(--COLOR-SALE);

  &:empty {
    display: none;
  }
}

.product-bundle__accordion-toggle,
.product-bundle__block-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: unset;
  font-size: 14px;
  line-height: 150%;
  padding: 0 28px 0 0;
  gap: 8px;

  @include media-query ($small) {
    padding: 0 30px 0 0;
  }

  svg {
    top: calc(50% - 4px);
    --icon-size: 15px;
  }
}

.product-bundle__block-title {
  padding: 0 30px 12px 0;

  @include media-query ($small) {
    padding: 0 30px 5px 0;
  }
}

.product-bundle__accordion-content {
  gap: 12px;
  padding-top: 24px;
}


.product-bundle__block-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 0;
}

.product-bundle__separator {
  width: 100%;
  height: 1px;
  background: #DADADA;
}
/*end content*/

/*start card-bundle*/
.card-bundle__wrapper {
  --width: 102px;
  --media-width: 11.6%;
  --gap: 4px;
  --gap-wrapper: 10px;
  display: flex;
  width: calc(100%);
  gap: var(--gap-wrapper);
  justify-content: space-between;

  @include media-query ($large-down) {
    --media-width: 18.5%;
  }

  @include media-query ($small) {
    --media-width: 24.5%;
  }

  &[data*="\"selectionType\":\"single"] {
    --width: 24px;
    --media-width: 9.77%;
    --gap: 0;
    --gap-wrapper: 8px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  &[data*="\"variantAvailable\":false"] {
    //order: -1;
  }
}

.card-bundle__content {
  display: flex;
  width: calc(100% - var(--width) - var(--gap-wrapper));
  gap: 12px;
  align-items: center;

  @include media-query ($small) {
    gap: 10px;
  }

  a {
    background: unset;
    padding: 0;
  }

  &.card-bundle__content--disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

.card-bundle__media {
  min-width: var(--media-width);
  position: relative;
  text-decoration: unset;

  .svg-placeholder {
    padding-top: 100%;
  }

  .lazy-image {
    position: relative;
    padding-top: 100%;
  }

  img {
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    margin: 0;
  }

  .product-bundle__badge {
    position: absolute;
    bottom: calc(100% - 32%);
    left: calc(100% - 34px);
    padding: 2px 7px;
    margin: 0;

    @include media-query ($large-down) {
      font-size: 12px;
      bottom: calc(100% - 30%);
    }

    @include media-query ($small) {
      bottom: calc(100% - 15px);
      left: calc(100% - 24px);
    }
  }
}

.card-bundle__information {
  font-size: 16px;
  line-height: 120%;
  width: calc(100% - var(--media-width) - 12px);
  display: flex;
  flex-direction: column;

  .card-bundle__heading {
    display: block;
    text-decoration: unset;
    background: unset;
    padding: 0;
  }

  .card-bundle__additional-info {
    font-size: 10px;
    line-height: 100%;
  }
}

.card-bundle__heading {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
  font-family: var(--FONT-MOHAVE);

  @include media-query ($medium-down) {
    font-size: 14px;
  }
}

.card-bundle__controls {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  //width: calc(100% - 5px - 70% - 10px);
  flex: 0 0 var(--width);
  gap: var(--gap);

  input[type="radio"] {
    color: var(--border);
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    appearance: none;
    position: relative;
    padding: 0;
    border: 0;
    margin: 0 8px 0 0;
    cursor: pointer;
  }

  input[type="radio"]::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px var(--COLOR-BG-ACCENT);
    border: 1px solid var(--border);
    box-sizing: border-box;
  }

  input[type="radio"]:checked::before { background-image: radial-gradient(var(--border) 100%, var(--border) 100%); }
}

.card-bundle__qty {
  position: relative;
  max-width: 81px;

  .quantity__input {
    border: 1px solid var(--border);
    background-color: var(--COLOR-BG-ACCENT-LIGHTEN);
    font-size: 14px;
    font-weight: 500;
    padding: 4px 5px;

    &::-webkit-inner-spin-button {
      display: none;
    }

    &[disabled] {
      opacity: 1;
    }
  }

  .quantity__plus,
  .quantity__minus {
    width: fit-content;
    --ICON-STROKE-WIDTH: 2px;
    --icon-size: 17px;
  }

  .quantity__plus {
    padding: 0 10px 0 0;

    &[disabled] {
      opacity: 0.5;
    }
  }

  .quantity__minus {
    padding: 0 0 0 10px;
  }
}

.card-bundle__remove {
  padding: 0;
  --icon-size: 21px;
  --ICON-STROKE-WIDTH: 2px;

  svg {
    transform: rotate(45deg);
  }
}

.card-bundle__btn--add,
.card-bundle__btn--added,
.card-bundle__btn--sold-out {
  font-size: 14px;
  padding: 5px 21px 3px;
  line-height: normal;
}

.card-bundle__btn--added,
.card-bundle__btn--sold-out {
  display: flex;
  gap: 10px;
  color: var(--COLOR-SECONDARY);
  opacity: 0.6;
  border-width: 2px;
  border-color: var(--COLOR-SECONDARY);
  padding-right: 19px;
  padding-left: 19px;

  @include media-query ($medium-down) {
    padding-right: 11px;
    padding-left: 11px;
    gap: 5px;
  }

  &.btn--primary {
    border-color: var(--BTN-PRIMARY-BORDER);
    color: var(--BTN-PRIMARY-TEXT);
    cursor: not-allowed;
  }
}

.card-bundle__btn--sold-out:not(.btn--primary) {
  opacity: 0.4;
}

.card-bundle__btn--added {
  .card-bundle__btn-arrow {
    width: 14px;
    height: 8px;
    border-left: 2px solid var(--COLOR-SECONDARY);
    border-bottom: 2px solid var(--COLOR-SECONDARY);
    transform: translate(0%, -50%) rotate(-45deg);
  }
}
/*end card-bundle*/
