/*====== Cart Template ======*/

.cart {
  --inner: 15px;

  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  margin: 0 auto;
  overflow: visible;
  display: block;
  text-align: left;
  max-width: 1250px;
}

.cart__empty {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  justify-items: center;
  gap: var(--inner);
  text-align: center;
  width: 100%;
  max-width: var(--DRAWER-WIDTH);
  margin: 0 auto;
  opacity: 0;
  height: 0;
  visibility: hidden;

  p { margin: 0; }

  .cart__message { justify-content: center; }

  .cart__message,
  .cart__empty__buttons,
  .cart__empty__product { width: 100%; }
}

.cart__empty,
.cart__form {
  transition: opacity 0.3s ease, visibility 0.3s;
  overflow: hidden;
}

.is-empty {
  .cart__empty {
    visibility: unset;
    opacity: unset;
    height: auto;
  }

  .cart__form {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

.cart__empty__buttons {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--inner);
  margin: var(--inner) 0;
}

.cart__empty__item .btn { display: block; }

.cart__empty__product:empty { display: none; }

.cart__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include media-query($small) {
    display: block;
  }
}

.cart__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; // Item removal animation is visible outside the container

  @include media-query($medium-up) {
    flex: 1 1 auto;
    margin-right: var(--outer);
  }

  @include media-query($small) {
    width: 100%;
    margin-bottom: 25px;
  }
}

.cart__title {
  @include caps;
  @include body-bold;

  display: flex;
  line-height: 1.36;
  font-size: var(--font-body-medium);
}

.cart__items {
  width: 100%;
  border-top: 1px solid var(--border);
  margin-top: var(--inner);

  .cart__item {
    padding: var(--inner) 0;
    border-bottom: 1px solid var(--border);
    align-items: stretch;

    &:last-child { border-bottom: 1px solid var(--border); }

    @include media-query($small) {
      align-items: center;
    }
  }

  .cart__item__content {
    display: flex;
    flex-flow: row nowrap;
    //justify-content: space-between;
    align-items: center;

    @include media-query($medium) {
      padding-left: var(--inner);
    }

    @include media-query($small) {
      display: block;
    }
  }

  .cart__item__content-inner {
    width: 40%;

    @include media-query($small) {
      width: 100%;
    }
  }

  .cart__price {
    width: calc(60% - 95px);
    padding: 0 10px;
    text-align: center;

    ins,
    del,
    small {
      display: inline-block;
    }

    @include media-query($medium) {
      ins,
      del,
      small {
        display: block;
        margin: 0;
      }
    }

    @include media-query($small) {
      width: 100%;
      padding: 0;
      text-align: left;
    }
  }

  .cart__quantity-counter {
    position: relative;

    @include media-query ($medium-up) {
      justify-content: center;
    }
  }

  .cart__quantity-counter-without {
    flex: 1 0 auto;
  }

  .cart__item__remove {
    @include media-query ($medium-up) {
      position: absolute;
      top: 100%;
      margin: 10px auto 0;
    }
  }
  .cart__item__remove-without-quantity {
    @include media-query ($medium-up) {
      position: relative;
      margin: 0;
    }
  }

  .cart__quantity { width: 95px; }

  .cart__discount {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;

    @include media-query($medium-down) {
      position: relative;
    }
  }
}

.cart__aside {
  position: sticky;
  top: 10px;
  flex: 0 0 300px;

  @include media-query($medium) {
    flex-basis: 280px;
  }

  @include media-query($small) {
    width: 100%;
    padding-top: 0;
  }
}

.cart__field { color: var(--text); }

.cart__widget {
  position: relative;
  display: block;
  margin-bottom: -1px;
  font-size: var(--font-body-x-small);
  line-height: 1.16;
  font-weight: var(--FONT-WEIGHT-BODY-BOLD);
  transition: color 0.3s ease;
}

.cart__widget__title {
  position: relative;
  padding: calc(var(--inner) - 2px) calc(var(--inner) + 30px) calc(var(--inner) - 2px) 0;
  margin: 0;
  display: block;
  font-size: max(1rem, var(--font-body-x-small));
  line-height: 1.6;
  font-weight: var(--FONT-WEIGHT-NAV);
  text-transform: uppercase;

  .icon {
    --icon-size: 16px;
    stroke-width: 3px;
    right: var(--inner);
  }
}

.cart__widget label {
  font-size: var(--FONT-BODY-SMALL);
  line-height: 1.36;
  color: inherit;
  font-weight: 600;
}

.cart__widget .cart__field {
  display: block;
  width: 100%;
  font-size: var(--font-body-x-small);
  line-height: 1.4;

  // Make font size at least 16px on mobile devices to prevent page auto zoom in
  @supports (-webkit-touch-callout: none) {
    font-size: max(var(--font-body-x-small), 16px);
  }
}

.cart__widget .cart__field--textarea {
  height: 90px;
  resize: none;
  border-radius: 10px;
  font-size: var(--FONT-BODY-SMALL);
  font-weight: 600;
}

.cart__widget select.cart__field {
  appearance: none;
  background-position: right center;
  background-image: var(--ICON-SELECT);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: transparent;
  background-size: 16px auto;
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: unset;
  cursor: pointer;
}

// Show border bottom on cart page only
.cart__widget--products p.cart__widget__title {
  border-bottom: 1px solid var(--border);
  margin-bottom: var(--inner);
}

// Hide "Pair with" if no products available
.cart__widget--products {
  &:has(.swiper-container[data-complementary-products-count="0"]) {
    display: none;
  }

  .cart__widget__content__inner {
    padding-top: 0;
  }

  .swiper-inner {
    z-index: 1 !important;
  }

  swiper-container {
    display: flex;
    justify-content: stretch;
    align-items: center;

    swiper-slide {
      height: auto;

      quick-add-product {
        height: 100%;
        display: block;
      }

      .product-upsell__holder {
        height: 100%;

        .product-upsell {
          height: 100%;
        }
      }
    }
  }

  .swiper-button-next {
    right: 0;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--COLOR-BG-ACCENT);
    border: 2px solid var(--COLOR-SECONDARY);
    z-index: 1;
    &[aria-disabled="true"] {
      display: none;
    }
    @include media-query($small) {
      width: 50px;
      height: 50px;
      --swiper-navigation-sides-offset: 0;
    }
  }

  .swiper-button-prev {
    left: 0;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--COLOR-BG-ACCENT);
    border: 2px solid var(--COLOR-SECONDARY);

    @include media-query($small) {
      width: 50px;
      height: 50px;
      --swiper-navigation-sides-offset: 0;
    }
  }

  .swiper-button {
    --icon-size: 14px;
    --side-offset: -2px;
    display: flex;
    width: 30px;
    height: 30px;
    cursor: pointer;
    top: 84%;
    z-index: 10;
    transition: transform .3s linear;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(var(--side-offset), -50%, 0);
    transform: translate3d(var(--side-offset), -50%, 0);

    &:after {
      content: '';
      position: absolute;
      width: 200%;
      aspect-ratio: 1/1;
      opacity: 0;
      border-radius: 50%;
    }
    
    &[aria-disabled=true] {
      display: flex;
      opacity: 0.6;
      pointer-events: none;
    }

    &.swiper-button-lock {
      display: none;
    }

    .icon {
      display: flex;
      flex-shrink: 0;
    }

    &.swiper-button-prev {
      transform: translate3d(calc(var(--side-offset) * -1), -50%, 0);
    }
  }
}

.cart__widget__content__inner { padding: var(--inner) 0; }

.cart__foot__inner {
  padding: calc(var(--inner) - 2px) 0;
  border-top: 1px solid var(--border);
}

.cart__note {
  display: block;
  font-size: max(1rem, var(--font-body-x-small));
  line-height: 1.5;
  margin-top: calc(var(--inner) / 2);
  font-weight: 500;
}

.cart__total {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-body-x-small);
  line-height: 1.33;
  margin: 8px 0;
  font-weight: var(--FONT-WEIGHT-BODY-BOLD);
}
.cart__total.is-hidden { margin: 0; }

.cart__price__loader {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 50%;
  margin: 0.875rem 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s;
}

.cart__total__label {
  text-transform: uppercase;
  padding-right: 10px;
  font-weight: var(--FONT-WEIGHT-NAV);
  font-family: var(--FONT-STACK-NAV);
  font-size: max(1rem,var(--font-body-x-small));
}

.cart__total__price {
  font-size: var(--FONT-HEADING-MINI-MOBILE);
  transition: opacity .5s ease-in-out;
  font-weight: 600;
  line-height: 150%;
}

// Cart loading state
.is-loading {
  .cart__total__price--animated {
    opacity: 0;
    transition-duration: 0.25s;
  }

  .cart__price__loader {
    opacity: 1;
    visibility: visible;
  }

  input:disabled,
  button:disabled,
  [disabled] {
    opacity: 0.7;
    pointer-events: none;
  }
}

.cart__checkout { margin: var(--inner) 0; }
.no-js .cart__checkout ~ .cart__checkout { margin-top: var(--inner); }

.cart__checkout {
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    margin-top: -3px;
  }
}

.cart__checkout .icon {
  flex: 0 0 auto;
  margin-right: 5px;
  fill: none;
  stroke: currentcolor;
}

.cart__buttons-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.cart__buttons { width: 100%; }
.cart__buttons--disabled { position: relative; }

.cart__buttons--disabled::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: default;
  background: var(--COLOR-BG-ALPHA-25);
  z-index: 1;
  transition: opacity 0.3s ease, visibility 0s linear 0s;
}

input.cart__acceptance__input {
  width: 13px;
  height: 13px;
  margin: calc(var(--font-body-small) - 5px) 7px 5px 0;
}

.cart__acceptance__label {
  cursor: pointer;
  flex: 1;
  font-size: var(--font-body-small);
}

.cart__acceptance__input:checked ~ .cart__buttons--disabled::after {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.cart__terms {
  width: 100%;
  margin: 0;
  color: var(--COLOR-ERROR);
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, margin 0.5s ease, max-height 0.5s cubic-bezier(0, 1, 0.5, 1), visibility 0.5s;

  &.is-expanded {
    opacity: 1;
    visibility: visible;
    max-height: 300px;
    margin: calc(var(--inner) / 2) 0;
    transition: opacity 0.5s ease, margin 0.5s ease, max-height 0.5s cubic-bezier(0, 0, 1, 0), visibility 0.5s;
  }
}

.additional-checkout-buttons {
  display: flex;
  justify-content: center;

  ul { justify-content: center; }

  li {
    list-style: none outside none;
    border-radius: var(--RADIUS);
  }

  .dynamic-checkout__content {
    width: 100%;

    &:empty { display: none; }
  }
}

.additional-checkout-buttons:has(.dynamic-checkout__content:empty) { display: none; }

/*====== Cart Quantity ======*/

.cart__quantity {
  --border: var(--COLOR-TEXT);
  position: relative;
  width: 95px;
  transition: opacity 0.4s;

  //&:empty { display: none; }

  &.read-only {
    opacity: 0.5;
    pointer-events: none;
  }

  button {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 100%;
    font-size: 0;
    line-height: 1;
    transform: translateY(-50%);
    transition: opacity 0.3s;

    .no-js & { display: none; }
  }

  button.is-disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  button:hover { opacity: 0.75; }

  .icon {
    --icon-size: 16px;
    stroke-width: 3px;
  }

  .cart__quantity-field {
    padding: 10px 30px;
    border-color: var(--border);
    margin: 0;
    background-color: transparent;
    font-size: max(1rem, var(--font-body-small));
    line-height: 1.36;
    color: inherit;
    font-weight: var(--FONT-WEIGHT-BODY-BOLD);
    text-align: center;

    .no-js & {
      appearance: auto;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: auto;
      }
    }
  }

  input[type='number'] { appearance: textfield; }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button { appearance: none; }

  .cart__quantity-minus { left: 0; }

  .cart__quantity-plus { right: 0; }
}

/*====== Cart Discount ======*/

.cart__discount {
  --text: var(--accent);
  --icons: var(--accent);

  width: 100%;
  padding: 5px var(--inner);
  border-radius: 3px;
  margin-top: calc(var(--inner) - 2px);
  background-color: var(--accent-fade);
  font-size: var(--font-body-small);
  color: var(--text);
  height: fit-content;
}

.cart__price-discount {
  display: inline-block;
  background-color: var(--fj-badge-bg);
  color: var(--fj-badge-color);
  margin: 0 6px;
  padding: 4px 13px 2px 13px;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--FONT-MOHAVE);
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.01em;

}

.cart__discount .icon,
.cart__total__discount .icon {
  --icon-size: 0.875rem;

  fill: none;
  margin-right: 5px;
}

.cart__total__discount {
  font-size: var(--font-body-x-small);
  color: var(--accent);
}
.cart__total__discount .cart__total { margin: 0; }

/*====== Cart Bundle ======*/
.cart-item-bundle {
  margin-bottom: 5px;
}

.cart-item-bundle__item {
  display: flex;
  align-items: center;
  gap: 5px;

  .cart-item-bundle__media {
    width: 100%;
    max-width: 15%;
    min-width: 15%;
  }

  .lazy-image{
    padding-top: 100%;
    position: relative;

    img {
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: contain;
      margin: 0;
    }
  }

  span {
    display: inline-block;
    font-size: var(--font-body-x-small);
    line-height: 1.3;
  }
}

.cart-item-bundle {
  .cart-item-bundle__accordion-toggle {
    margin-bottom: 10px;
    font-size: var(--font-body-x-small);
    font-family: var(--FONT-STACK-BODY);
    line-height: 1.3;
    padding-top: 3px;
    padding-bottom: 7px;

    .icon-plus,
    .icon-minus {
      --icon-size: 20px;
      right: -4px;
    }
  }

  .cart-item-bundle__accordion-content {
    padding-top: 0;
  }
}

/*====== Cart Quantity ======*/

.cart__price {
  font-family: var(--FONT-MOHAVE);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  color: var(--COLOR-SALE);
  display: flex;
  flex-wrap: wrap;

  ins {
    background: none;
    margin-right: 10px;
    color: var(--COLOR-SALE);
  }

  del { color: var(--text-light); }

  .line__price {
    display: block;
    margin-top: 4px;
  }
}

/*====== Shipping Calculator ======*/

.shipping-calculator {
  ul {
    list-style: none;
    margin-left: 0;
    font-size: inherit;
  }

  li {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}
.shipping-calculator__province[data-aria-hidden="true"] { display: none; }

/*====== Cart Errors ======*/

.cart__errors {
  position: relative;
  width: 100%;
  flex: 0 0 auto;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s cubic-bezier(0, 0.75, 0.25, 1), visibility 0.5s;

  @media (hover: hover) {
    a:hover { opacity: 0.75; }
  }
}

.cart__errors.is-expanded {
  opacity: 1;
  visibility: visible;
  max-height: 300px;
  transition-timing-function: cubic-bezier(0.5, 0.25, 0.75, 1);
}

.cart__errors__close {
  --icon-size: 16px;

  position: absolute;
  top: 0;
  right: 4px;
  width: 32px;
  height: 32px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__errors__close .icon { transition: transform 0.3s ease; }
.cart__errors__close:hover .icon { transform: rotate(90deg); }

.cart__errors__inner {
  position: relative;
  padding: calc(var(--inner) / 2) var(--inner);
  border: 1px solid var(--COLOR-ERROR-BORDER);
  background-color: var(--COLOR-ERROR-BG);
  color: var(--COLOR-ERROR);
  border-radius: var(--RADIUS-SELECT);
  margin: 15px auto;
}

.cart__errors__heading {
  margin: 0;

  @include body-bold;

  font-size: var(--font-body-small);
}

.cart__errors__content {
  flex: 1 0 auto;
  margin: 0;
  font-size: var(--font-body-x-small);
}

.is-loading:not(.is-removed) > .loader {
  visibility: visible;
  opacity: 1;
}

.is-loading .cart__quantity,
.is-disabled .cart__quantity {
  pointer-events: none;
  opacity: 0.6;
}

/*====== Cart Message ======*/

.cart__message {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  color: var(--text);
  margin: 0;
  font-size: max(0.6875rem, var(--font-body-x-small));
  line-height: 1.3;

  a {
    color: var(--text);
  }
}

.cart__message--custom {
  flex-flow: row wrap;
  padding: var(--inner) 0;
  background: var(--bg-accent);
  text-align: center;
  margin: 15px 0 0;

  p { margin: 0 auto; }
}

.cart__items-count {
  &::before { content: '\00a0\00a0\0028'; }
  &::after { content: '\0029'; }
}

.cart__form .block__icon__container { padding: var(--inner) 0; }

/*====== Payment icons ======*/
.cart__payment-icons {
  --gap: 10px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  list-style: none;
  margin: 0;
  padding: var(--inner) 0;

  li {
    display: flex;
    margin: 0;
  }
}