/*====== Cart Drawer ======*/

.drawer--cart {
  .drawer__inner {
    --border: #9E9E9E;
    background: var(--bg-accent);
    border: none;
  }
}

.drawer__head {
  position: relative;
  width: 100%;
  padding: var(--inner);
  border-bottom: 1px solid var(--border);

  .cart__title {
    margin: 0 0 -3px;
    font-size: var(--font-body-medium);
    font-weight: var(--FONT-WEIGHT-BODY-BOLD);
    line-height: 1;
  }
}

.drawer__close {
  --icon-size: 24px;

  position: absolute;
  top: 50%;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: var(--link);
  background: transparent;
  border-radius: var(--RADIUS);
  font-size: 0;
  text-decoration: none;
  transform: translate3d(0, -50%, 0);
  transition: color 0.3s ease;

  .icon {
    display: block;
    fill: currentcolor;
    transition: transform 0.3s;
    pointer-events: none;
  }

  @media (hover: hover) {
    &:hover { color: var(--link-hover); }
    &:hover .icon { transform: rotate(90deg); }
  }
}

.drawer__body {
  flex: 1;
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.cart__view {
  width: 100%;
  margin: 8px 0 0;
}

.drawer {
  .cart__checkout { 
    margin: 0;
    background-color: var(--COLOR-SECONDARY);
    color: var(--COLOR-BG-ACCENT);
    border: 1px solid transparent;

    &:hover {
      background-color: var(--COLOR-TEXT-A80);
    }
  }

  .cart__acceptance__input ~ .cart__buttons { margin-top: var(--inner); }
  .cart__widget + .cart__form { margin-top: -1px; }
  .cart__widget + .cart__foot__inner { border-top: 0; }
  
  .cart__widget__title {
    padding: 20px 40px 24px 16px;
    margin-top: -16px;
    font-family: var(--FONT-STACK-BTN);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
  }

  .cart__form {
    overflow: visible;
  }
  
  .cart__foot__inner { 
    padding: 18px 16px 20px;
    border-radius: 6px;
    box-shadow: 0 2px 7px 0 #000000bf;
    border: none;

    .cart__price__holder {
      .cart__total {
        margin: 0 0 18px;
      }

      .cart__total__label {
        font-family: var(--FONT-POPINS);
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        text-transform: capitalize;
      }

      .cart__total__price {
        font-family: var(--FONT-MOHAVE);
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
      }
    }

    .cart__checkout {
      line-height: 1;
      padding: 19px 50px;
      font-size: 19px;
      display: flex;
      gap: 8px;

      svg {
        margin-top: -2px;
      }
    }

    .cart__note {
      font-size: 14px;
      font-weight: 500;
      text-align: center;
    }
  }

  .cart__widget__content__inner {
    padding-left: 16px;
    padding-right: 16px;
  }

  .cart__widget__content__inner__wrapper {
    display: grid;
    grid-template-columns: 100%;
    gap: 14px;

    .product-upsell {
      padding: 16px;
      display: grid;
      grid-template-columns: 27% 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "image content"
        "image actions";
      column-gap: 16px;
      row-gap: 14px;
      align-items: start;
    }

    .product-upsell__image {
      grid-area: image;
      width: 100%;
      padding: 0;
      background: transparent;

      .product-upsell__image__thumb {
        padding-top: 113%;
      }
    }

    .product-upsell__content {
      grid-area: content;

      .product-upsell__title {
        font-family: var(--FONT-MOHAVE);
        font-size: 18px;
        line-height: 1.2;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .product-upsell__price {
        font-family: var(--FONT-MOHAVE);
        font-size: 16px;
        line-height: 1.2;
        font-weight: 600;
        margin: 4px 0 0;

        .new-price {
          color: var(--COLOR-SALE);
        }
      }
    }

    .product-upsell__actions {
      grid-area: actions;

      .product-upsell__btn {
        font-family: var(--FONT-MOHAVE);
        min-width: 125px;
        font-size: 16px;
        line-height: 1;
        font-weight: 700;
        padding: 11px 30px;
        --btn-border: var(--BTN-SECONDARY-BORDER);
        --btn-bg: var(--BTN-SECONDARY-TEXT);
        --btn-text: var(--BTN-SECONDARY-BG);

        &:hover {
          --btn-border-hover: var(--BTN-PRIMARY-BORDER);
          --btn-bg: var(--BTN-SECONDARY-TEXT);
          --btn-text-hover: var(--BTN-PRIMARY-BG);
        }
      }
    }
  }

  .product-upsell__errors .errors { margin-top: 0; }
  .cart__payment-icons { padding: var(--inner); }

  .cart__price {
    margin-bottom: 12px;
  }

  .cart__quantity-counter {
    margin-top: 12px;
  }
}

.drawer__items-title {
  font-size: var(--font-body-x-small);
  line-height: 1.16;
  font-weight: var(--FONT-WEIGHT-BODY-BOLD);
  padding: var(--inner) var(--inner) 0;
}

.drawer__foot { margin-top: -1px; }

.drawer__empty {
  flex-grow: 1;
  flex-direction: column;
  max-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  align-items: center;
  width: 100%;
  transition: max-height 0.3s ease, visibility 0.3s;
}

.is-empty {
  .cart-block:not(.cart-block--top) {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .drawer__empty {
    display: flex;
    max-height: 100%;
  }

  .drawer__body {
    flex: 0 0 auto;
    min-height: 0;
  }
}

.is-open.is-empty .drawer__empty { visibility: visible; }

.drawer__empty__inner {
  flex: 0 1 100%;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  background: var(--COLOR-BG);
}

.drawer__message { padding: 12px var(--inner); }

.drawer__message.drawer__message--custom {
  min-height: 40px;
  background: var(--bg);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: var(--FONT-BODY-MEDIUM);
  font-weight: var(--FONT-WEIGHT-BODY-BOLD);
  line-height: 1;

  @include media-query($small) {
    font-size: 13px;
  }

  p { margin: 0; }
}

.drawer__empty__message {
  font-family: var(--FONT-MOHAVE);
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s;
  margin: 0 auto;

  .is-hidden & { padding: 0; }
}

.drawer__empty_subtitle,
.drawer__empty_subtitle p {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.drawer__empty_subtitle strong {
  font-weight: 600;
}

.drawer__empty__banner {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  margin: -4px auto 0;
  border-radius: 8px;
  background: var(--COLOR-BG-ACCENT);
  position: relative;

  .drawer__empty__banner__image {
    width: 31%;
    flex-shrink: 0;
  }

  .drawer__empty__banner__image_wrapper {
    padding-top: 80%;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .drawer__empty__banner__title {
    font-family: var(--FONT-MOHAVE);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
  }

  .drawer__empty__banner__url {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.drawer__empty__button {
  margin-top: 24px;
}

.drawer__empty__buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  gap: var(--inner);
  margin: 0 0 var(--inner);
}

.drawer__empty__item {
  width: 100%;
}

.drawer__empty__item .btn { 
  min-height: 100%;
  white-space: nowrap;
  padding: 15px 30px;
} 

.drawer__empty__product {
  &:empty { display: none; }

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.drawer__errors {
  position: sticky;
  top: 0;
  z-index: 9;
  border-left: none;
  border-right: none;
}

.drawer__errors .cart__errors__inner {
  padding: calc(var(--inner) / 2) var(--inner);
  margin: 0;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.cart-block--top {
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 16px;
  background: var(--bg-accent);
  border-bottom: 1px solid var(--border);

  @include media-query($small) {
    padding: 12px 16px;
  }

  .cart__title {
    font-family: var(--FONT-STACK-BTN);
    font-size: var(--FONT-HEADING-MINI);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    @include media-query($small) {
      font-size: var(--FONT-HEADING-MINI-MOBILE);
    }
  }
}

[data-cart-promotion-block]{
  margin: auto 0 0 0;

  .promotion-block__wrapper {
    margin: 0;
  }
}

.promotion-block__wrapper {
  background: var(--bg);
  padding: 30px 20px;
  margin: auto -15px -15px -15px;

  @include media-query($small) {
    padding: 16px;
  }

  .promotion-block__title {
    color: var(--text);
    font-family: var(--FONT-STACK-NAV);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 14px;

    @include media-query($small) {
      font-size: 18px;
    }
  }

  .promotion-block__product-wrapper {
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    gap: 16px;

    @include media-query($small) {
      flex-direction: column;
      padding: 15px;
    }

    .promotion-block__product-add-image {
      width: 75px;
      height: 75px;
      position: absolute;
      z-index: 1;
      top: -15px;
      left: -20px;
    }

    .promotion-block__product-image{
      display: block;
      //padding-top: var(--PRODUCT-GRID-ASPECT-RATIO);
      position: relative;
      width: 150px;
      min-height: 180px;
      height: auto;
      border-radius: 10px;

      @include media-query($small) {
        width: 100%;
        min-height: 150px;
      }
    }

    .promotion-block__product-bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: auto;
      height: auto;

      img {
        border-radius: 10px;
      }
    }

    .promotion-block__product-link {
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    [data-simple-bundles-options] {
      display: none;
    }

    .promotion-block__product-info {
      width: calc(100% - 166px);
      display: flex;
      flex-direction: column;

      @include media-query($small) {
        width: 100%;
      }

      .promotion-block__product-items {
        margin-bottom: 6px;
      }

      .promotion-block__product-item {
        color: var(--text);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;

        @include media-query($small) {
          font-size: 12px;
          line-height: 18px;
        }
      }

      .promotion-block__product-item--free {
        margin-bottom: 12px;
        padding: 5px 10px;
        border-radius: 10px;
        background: #D6EBEB;
        color: var(--text);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        display: flex;
        align-items: center;
        gap: 4px;
        width: fit-content;

        @include media-query($small) {
          font-size: 12px;
          line-height: 18px;
        }
      }

      .quick-add__button {
        @include media-query($small) {
          width: 100%;
          padding: 5px 30px;
        }
      }
    }
  }
}

.cart-block--bottom {
  position: sticky;
  bottom: 0;
  background: var(--bg);
  z-index: 5;
  order: 10;
  width: 100%;
  margin-top: auto;
}

.cart-block { transition: max-height 0.3s ease, visibility 0.3s; }
.cart-block .accordion { margin-top: 0; }
.cart-block .cart__price__holder .cart__total:first-child { margin-top: 0; }

/*====== Cart Item ======*/

.cart__item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 20px 16px;

  @include media-query($small) {
    padding: 20px 16px;
  }

  a {
    --link: var(--text);
    --link-hover: var(--text-hover);
  }
}
.cart__item--no-border { border-bottom: none; }

.cart__item.is-removed {
  overflow: hidden;
  animation: cartItemRemoved 0.5s ease;
  animation-fill-mode: forwards;
}

.cart__item__image {
  font-size: 0;
  flex-shrink: 0;
  width: 30%;

  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .cart__item__image-wrapper {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 88%;
    text-decoration: none;
    transition: opacity .3s;
  }

  .lazy-image { height: 100%; }

  @media (hover: hover) {
    a:hover { opacity: 0.75; }
  }

  &.image--empty a { background: transparent; }
}

.cart__item__content {
  width: 100%;
  padding-left: 12px;
}

.cart__item__title {
  @include body;

  margin-top: -1px;
  margin-bottom: 5px;
  line-height: 1.20;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--FONT-MOHAVE);

  a { transition: color 0.3s ease; }
}

.cart__quantity-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;

  .cart__quantity {
    width: 105px;

    .cart__quantity-field {
      padding: 6px 35px;
    }
  }
}

.cart__item__remove {
  display: inline-block;
  font-size: 13px;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  text-decoration-line: underline;
}

.cart__item__meta {
  margin-bottom: 10px;
  font-size: var(--font-body-medium);
  line-height: 1.3;

  &:empty { display: none; }

  @include media-query($small) {
    font-size: var(--font-body-medium);
  }
}

.cart__item__bundle-title {
  font-size: var(--font-body-medium);
  font-weight: 600;
  line-height: 1;
}

.cart__item__selling-plan,
.cart__item__selected-options,
.cart__item__property,
.cart__item__bundle-title {
  margin: 2px 0 0;

  strong {
    font-weight: 600;
  }
}

.cart__blocks {
  height: 100%;
  display: flex;
  flex-flow: column;
}

/*====== Icon block ======*/
.drawer__inner .block__icon__container { padding: var(--inner); }

/*====== Custom code block ======*/
.cart__custom-code { padding: var(--inner); }
