/**
 * Custom content
 */

.brick__section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include media-query($medium-up) {
    flex-wrap: nowrap;
  }
}

.js .brick__slider:not(.flickity-enabled) {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;

  @include hide-scrollbar;

  .brick__section { min-width: 100%; }
}

.brick__slider {
  .flickity-page-dots { bottom: 20px; }

  @include media-query($small) {
    .flickity-page-dots {
      padding: 0 calc(var(--outer) * 2);

      .text-left & { justify-content: flex-start; }
    }

    &[data-dots="line"] .hero__content,
    &[data-dots="circle"] .hero__content { padding-bottom: 20px; }
  }
}

.text-left .brick__block__text .flickity-page-dots { justify-content: flex-start; }

.brick__block {
  --bg: var(--COLOR-BG);
  --icons: var(--text);

  flex: 0 1 100%;
  width: 100%; // fix for some android browsers
  color: var(--text);
  background: var(--bg);

  @include media-query($medium-up) {
    flex: 1 1 50%;
  }

  .flex-column & { flex-grow: 0; }
}

.brick--border .brick__block { border: 1px solid var(--border); }

.brick__section--reversed .brick__block:nth-of-type(2) {
  @include media-query($medium-up) { order: -1; }
}

.brick__section--reversed-mobile .brick__block:nth-child(2):last-child {
  @include media-query($small) { order: -1; }
}

.brick__block.is-sticky {
  @include media-query($medium-up) {
    align-self: flex-start;
    position: sticky;
    top: 0;
    min-height: inherit;
  }
}

.brick__block__text {
  height: 100%;
  display: flex;
  align-items: center;
  padding: var(--outer);
  background: var(--bg);
  margin: 0 auto;

  @include media-query ($widescreen) { flex-basis: 76%; }

  @include media-query ($large) { flex-basis: 84%; }

  @include media-query ($medium) { flex-basis: 90%; }

  @include media-query($small) {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

.brick__block__text--column { flex-direction: column; }

.brick__block__text.has-padding,
.brick__block__collection.has-padding { padding: var(--outer); }

.brick__block__collection.has-padding .look__slider {
  @include media-query($small) {
    margin-left: var(--grid-outer-offset);
    margin-right: var(--grid-outer-offset);
    padding-left: var(--grid-outer);
  }
}

.brick__section--reversed .brick__block:last-child .brick__block__text:not(.has-padding),
.brick__block:first-child .brick__block__text:not(.has-padding) { padding-left: 0; }

.wrapper--full.brick__section--reversed .brick__block:last-child .brick__block__text:not(.has-padding),
.wrapper--full .brick__block:first-child .brick__block__text:not(.has-padding) { padding-left: var(--outer); }

.wrapper--full .brick__block__text:not(.has-padding) {
  @include media-query($small) {
    padding-left: var(--outer);
    padding-right: var(--outer);
  }
}

.brick__block__text.has-padding,
.wrapper--full .brick__block__text.has-padding { padding-left: var(--outer); }

@include media-query($medium-up) {
  .brick--border:not(.has-gap) .brick__block:last-of-type:not(:only-child) { border-left: none; }

  .brick__block__video .image-height,
  .brick__block__image .image-height {
    flex: 1;
    min-height: 100%;
  }

  .brick__block__video,
  .brick__block__image,
  .brick__block__video .image__hero__frame:not(.image-height),
  .brick__block__image .image__hero__frame:not(.image-height) { height: 100%; }
}

// handle swaparo mobile cases
@include media-query($small) {
  .brick--border:not(.has-gap) .brick__block:last-of-type:not(:only-child) { border-top: none; }

  .brick__block__video .image-height--mobile,
  .brick__block__image .image-height--mobile { min-height: 100%; }

  .brick__block__video .image__hero__frame:not(.image-height--mobile),
  .brick__block__image .image__hero__frame:not(.image-height--mobile) { height: 100%; }
}

.image__video__play {
  --button-min-size: calc(var(--BTN-FONT-SIZE) * var(--line-height-normal) + var(--btn-top) * 2 + 2px);

  width: unset;
  min-width: var(--button-min-size);
  min-height: var(--button-min-size);
  max-width: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--btn-top);
  padding-left: calc(var(--btn-top) + 1px); // fix the optical illusion that the arrow is not centered when it's actually centered

  .icon-play {
    --icon-size: var(--BTN-FONT-SIZE);

    margin: 0;
  }
}

.brick__product__subheading {
  padding-bottom: var(--gap);
  margin: 0;
}

.brick__product {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;

  .product-item__info[href="#"] { pointer-events: none; }

  .product-item__info .price {
    font-size: var(--font-body-small);
    margin-top: 5px;
  }

  .product-item__title {
    font-size: var(--font-heading-small);
    margin: 0 0 5px;
  }
}

.brick__block--collection {
  display: flex;
  align-items: flex-start;
  min-width: 0;
  padding-top: var(--outer);
  padding-bottom: var(--outer);

  @include media-query($medium-up) {
    .look__slider {
      max-width: 500px;

      &:not(.flickity-enabled) .look__slide:not(:first-child) { display: none; }
      &.is-loading .look__slide:not(:first-child) { opacity: 0; visibility: hidden; }
    }
  }

  @include media-query($small) {
    min-height: 0;

    .look__slider {
      margin-left: var(--outer-offset);
      margin-right: var(--outer-offset);
    }

    .brick--border & .look__slider {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      scroll-padding: 0;
    }

    .brick--border & .look__slider::after { content: none; }

    .brick--border & .look__slider .selector-wrapper__actions { overflow: hidden; }
  }
}

.brick__block__collection {
  flex: 1;
  max-width: 100%;

  .product-item { margin-top: 0; }
  .product-item__price { white-space: nowrap; }

  @include media-query($small) {
    .wrapper--full & {
      margin-left: var(--outer);
      margin-right: var(--outer);
      max-width: calc(100% - var(--outer) * 2);
    }
  }
}

.brick__block__collection .look__aside {
  @include media-query($medium-up) {
    padding-top: var(--outer);
    padding-bottom: var(--outer);
  }
}

.brick__block--compare { overflow: hidden; }
.brick__block__compare { height: 100%; }

.brick__block__compare .compare__image { padding: 0; }

.brick__block--images { display: flex; }

.brick__block--images.desktop {
  @include media-query($small) { display: none; }
}

.brick__block--images[data-slider] {
  @include media-query($small) { display: block; }
}

.brick__block--images[data-slider]::after {
  @include media-query($small) {
    content: "flickity";
    display: none;
  }
}

.brick__section-missing-metafield-image {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--bg-accent);
  color: var(--COLOR-TEXT-BTN-BG-BLACK);
}

.brick__block__image { position: relative; }

.brick__block__image-badge {
  position: absolute;
  top: 24px;
  right: -48px;
  z-index: 1;
  width: 154px;
  height: 154px;

  @include media-query($medium) {
    width: 100px;
    height: 100px;
    right: -13px;
    top: 10%;
  }

  @include media-query($small) {
    width: 75px;
    height: 75px;
    right: 5%;
    top: 7%;
  }
}

.brick__block--image-slider { display: block; }
.brick__block--image-slider .brick__block__image { width: 100%; }

.brick__block--image-slider[data-slider]::after {
  content: "flickity";
  display: none;
}

.brick__block--images .brick__block__image {
  flex: 1;
  display: flex;
  min-height: 100%;
  align-items: center;

  .video-background {
    padding-top: 100%;
  }

  .video-background .video__poster{
    //visibility: hidden;
    opacity: 0;
  }

  // Fix issue on resize when flickity is destroyed
  @include media-query($medium-up) {
    transform: translateX(0) !important;
  }
}

.homepage_image {
  .brick__block--images .brick__block__image {
    @include media-query($small) {
      padding: 0 35px;
    }
  }
}

.brick__block--images[data-slider] .brick__block__image {
  @include media-query($small) {
    display: block;
    width: 100%;
  }
}

.brick__block--three-quarters {
  @include media-query($medium-up) { flex: 0 0 65%; }
}

.brick__block--text {
  display: flex;

  collapsible-elements,
  .hero__content--compact { flex-basis: 100%; }

  @include media-query ($small) {
    max-width: 100%;

    .hero__content--compact {
      flex: 1;
      padding: 24px var(--outer) calc(var(--outer) - var(--line));
      margin-bottom: 0;
    }

    .hero__content--no-padding {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.brick__block--pin {
  .brick__block__text,
  collapsible-elements {
    flex-wrap: wrap;
  }

  collapsible-elements {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .hero__content:first-child:not(:last-child) { margin-bottom: auto; }

  .hero__content:last-child:not(:first-child) { margin-top: auto; }
}

.brick__block--slider {
  @include media-query($small) {
    .hero__content { flex-direction: row; }
  }
}

.js .hero__content:not(.flickity-enabled) .hero__slide:not(:first-child) {
  @include media-query($medium-up) {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
  }
}

.brick__block--password {
  flex: 1 0 50%;
  margin: 0 auto;
  padding: 0 var(--outer);
}

.brick__block--password .brick__block__text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
  padding: var(--outer) 0;
}

.brick__block__logo {
  margin: auto;
  max-width: 100%;
}

.brick__block__content {
  display: grid;
  grid-template-columns: 100%;
  gap: var(--gap);
  margin-bottom: var(--gap);
  width: 100%;
}

.brick__block__menu {
  margin: calc(var(--inner-offset) / 2);

  .btn {
    margin: calc(var(--inner) / 2);
    vertical-align: middle;
  }
}

.brick__block__newsletter {
  .contact-form {
    display: inline-block;
    max-width: 260px;
    width: 100%;
  }

  .form__legal {
    margin-top: var(--line);
    text-align: center;
  }

  .field {
    margin-bottom: var(--inner);
    text-align: center;
  }
}

.brick__block__actions {
  flex: 0 1 100%;
  margin-bottom: var(--inner);
}

.brick__block__actions + .brick__block__actions { padding-top: var(--inner); }

.brick__block__title { margin: 0; }

.brick__block__powered { margin-bottom: var(--inner); }

.brick__block__social { overflow: hidden; }

.brick__section--accordion .brick__block--images { align-self: flex-start; }

.brick__block--products {
  @include media-query($medium-up) {
    &:first-child { padding-right: var(--gap); }
    &:last-child { padding-left: var(--gap); }
  }

  @include media-query($small) {
    display: block;
    max-width: 100%;
    padding-top: var(--inner);
    padding-bottom: var(--inner);
  }
}

.brick__block--products .grid-outer { padding: 0; }

.look {
  @include media-query($medium-up) {
    flex: 1;
    display: flex;
    align-items: flex-start;

    &.is-reversed { flex-direction: row-reverse; }
  }

  .btn { --icons: var(--btn-text); }
}

.look__slider {
  @include media-query($medium-up) {
    display: flex;
    flex-flow: row nowrap;
    gap: 0;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: calc(25vw + 150px);
    padding-left: 75px;
    padding-right: 75px;
    margin-left: auto;
    margin-right: auto;

    @include hide-scrollbar;

    &.flickity-enabled { overflow: hidden; }

    &::after {
      content: "flickity";
      display: none;
    }

    .look__slide { display: block; }

    .flickity-viewport {
      flex: 1;
      width: 100%;
    }

    .flickity-page-dots { left: 0; }

    .flickity-prev-next-button.previous { left: 4px; }

    .flickity-prev-next-button.next { right: 4px; }
  }

  @include media-query($medium) {
    max-width: calc(25vw + 100px);
    padding-left: 50px;
    padding-right: 50px;
  }

  @include media-query($small) {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: var(--grid-outer);
    -webkit-overflow-scrolling: touch;
    padding: 0 0 var(--grid-outer) var(--grid-outer);
    margin: 0;

    @include hide-scrollbar;

    &::after {
      content: "";
      min-height: 1px;
      display: block;
      position: relative;
      padding-right: var(--grid-outer);
    }

    .product-item {
      width: 100%;
      min-height: 100%;
    }
  }
}

.look__slide {
  flex: 0 0 auto;
  width: 100%;

  @include media-query($small) {
    width: calc(100% - 50px);
    max-width: 80vh; // Prevent huge images on a landscape mobile view
    margin-right: var(--grid-gap);
    scroll-snap-align: start;

    &:last-child { margin-right: 0; }

    &:only-child {
      max-width: 100%;
      width: calc(100% - var(--grid-gap));
    }
  }
}

.brick__section--mobile-slider {
  @include media-query ($small) {
    padding-block: 0;
    padding-inline: var(--grid-outer) 0;
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-padding: var(--grid-outer);

    @include hide-scrollbar;

    &::after {
      content: "";
      min-height: 1px;
      display: block;
      position: relative;
      padding-right: var(--grid-outer);
    }

    .brick__block {
      margin: 0;
      padding: 0;
      flex: 0 0 auto;
      width: calc(100% - 50px);
      scroll-snap-align: start;

      &:only-child { width: calc(100% - var(--grid-outer)); }
    }

    &.has-gap {
      .brick__block { margin-inline-end: var(--gap); }
      .brick__block:last-child { margin-inline-end: 0; }
    }

    &.wrapper--full {
      padding-inline: 0;

      &::after { display: none; }
      .brick__block:only-child { width: 100%; }
    }

    // Handle layout cases when one of the blocks should stay hidden in previews but visible in the Theme editor
    &:has(.brick__block.hidden) .brick__block { width: calc(100% - var(--grid-outer)); }
    &.has-gap:has(.brick__block.hidden) .brick__block { margin-inline-end: 0; }
    &.wrapper--full:has(.brick__block.hidden)::after { display: none; }
    &.wrapper--full:has(.brick__block.hidden) .brick__block { width: 100%; }

    .brick__block:has(.image__hero__missing-metafield-image) .frame {
      height: 100%;
      align-content: center;
    }
  }
}

.homepage_image.index-image-text .brick__block__image .image__fill img{
  object-fit: contain;
}

.homepage_image.index-image-text .brick__block__text {
  padding: 0;
  margin: 0 0 0 120px;

  @include media-query($medium-down) {
    margin: 0 0 0 40px;
  }

  @include media-query($small) {
    margin: 0;
  }
}

.homepage_image.index-image-text .brick__section--reversed {
  .brick__block__text {
    padding: 0;
    margin: 0;
  }
}

.homepage_image-reverse.index-image-text .brick__block__image .image__fill img{
  object-fit: contain;
}

.homepage_image-reverse .wrapper--full-padded {
  padding-left: 50px;
  padding-right: 50px;

  @include media-query($widescreen) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @include media-query($small) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.homepage_image-reverse .brick__block.brick__block--images {
  flex: 0 1 45%;

  @include media-query($small) {
    flex: 0 1 100%;
    padding: 0 44px;
  }
}

.homepage_image-reverse .brick__block.brick__block--text {
  flex: 0 1 55%;

  .hero__title {
    @include media-query($small) {
      margin-bottom: 24px;
    }
  }

  .hero__rte {
    @include media-query($small) {
      margin-bottom: 24px;
    }
  }

  .hero__button a {
    @include media-query($small) {
      width: 100%;
    }
  }

  @include media-query($small) {
    flex: 0 1 100%;
  }
}

.homepage_image-reverse .add-icons {
  display: flex;
  gap: 12px;
  padding-bottom: 50px;
  width: 92%;

  @include media-query($small) {
    flex-direction: column;
    padding-bottom: 24px;
    width: 100%;
  }

  & > div {
    width: calc(25% - 6px);
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;

    div {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid var(--COLOR-BG-ACCENT);
      display: flex;
      justify-content: center;
      align-items: center;

      @include media-query($small) {
        border: none;
        width: 28px;
        height: 28px;
      }
    }

    @include media-query($small) {
      flex-direction: row;
      width: 100%;
      gap: 16px;
    }

    span {
      font-family: 'MohaveSemibold';
      font-size: 20px;
      line-height: 100%;
      text-transform: uppercase;
      letter-spacing: 0;
      text-align: center;
      padding: 0 10px;

      @include media-query($small) {
        padding: 0;
      }
    }
  }
}

.homepage_image-reverse {

  .brick__block__text {
    margin: 0;
    padding: 0 20px 0 0;

    .hero__content {
      @include media-query($small) {
        padding: 24px 0 0 0;
      }
    }

    @include media-query($widescreen) {
      flex-basis: 100%;
      padding: 0 120px 0 0;
    }

    @include media-query($small) {
      padding: 0;
    }
  }
}

.hero__article-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;

  @include media-query($small) {
    margin-bottom: 20px;
  }

  span {
    display: inline-block;
    font-family: var(--FONT-STACK-BTN);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    text-transform: uppercase;
    border-radius: 30px;
    border: 2px solid var(--border);
    padding: 5px 12px 2px;
  };
}

/* Style for article template*/
.template-article {
  .brick__block__text {
    @include media-query ($widescreen) { flex-basis: 83%; }

    //@include media-query ($large) { flex-basis: 84%; }
    //
    //@include media-query ($medium) { flex-basis: 90%; }

    @include media-query($small) {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }

    .hero__content--compact {
      padding: 24px 0;
    }
  }

  .hero__title {
    letter-spacing: normal;
    margin-bottom: 24px;

    @include media-query($small) {
      margin-bottom: 20px;
    }
  }

  .hero__rte {
    font-family: var(--FONT-STACK-BTN);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px; /* 150% */
    text-transform: uppercase;
    margin-bottom: 32px;

    @include media-query($small) {
      margin-bottom: 16px;
    }

    p {
      display: flex;
      flex-wrap: wrap;
      column-gap: 5px;
      row-gap: 10px;

      a {
        display: flex;
        gap: 5px;
        padding: 0;
        background: unset;

        svg {
          margin-top: 1px;
        }

        span {
          background: linear-gradient(to right,currentcolor,currentcolor);
          background-size: 100% 1px;
          background-position: 50% 86%;
          background-repeat: no-repeat;
          transition: color .25s ease-in, background-size .25s ease-in;
          margin-top: 1px;
        }

        &:hover {
          span {
            background-size: 0% 1px;
          }
        }
      }
    }

    strong {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }

  .hero__button {
    font-size: 24px;
    line-height: 34px; /* 141.667% */

    .btn {
      font-size: 20px;
      line-height: 34px; /* 141.667% */
    }
  }
}
/* End style for article template*/

/* Style for product template*/
.product-page_image {
  .hero__title {
    line-height: normal;
  }

  .hero__content {
    @include media-query ($small) {
      text-align: center;
    }
  }

  &.index-image-text .brick__block__image {
    padding-right: 6.7%;

    @include media-query ($small) {
      padding: 0 13%;
    }

    .image__fill img{
      object-fit: contain;
    }
  }

  &.index-image-text .brick__section--reversed {
    .brick__block__image {
      padding-right: 0;
      padding-left: 6.7%;

      @include media-query ($small) {
        padding: 0 13%;
      }
    }
  }

  &.index-image-text .brick__block__text {
    padding: 0;
    margin: 0 0 0 120px;

    @include media-query($medium-down) {
      margin: 0 0 0 40px;
    }

    @include media-query($small) {
      margin: 0;
    }
  }

  &.index-image-text .brick__section--reversed .brick__block__text {
    padding: 0;
    margin: 0 120px 0 0;

    @include media-query($medium-down) {
      margin: 0 40px 0 0;
    }

    @include media-query($small) {
      margin: 0;
    }
  }
}

.hero__article-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;

  @include media-query($small) {
    margin-bottom: 20px;
  }

  span {
    display: inline-block;
    font-family: var(--FONT-STACK-BTN);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    text-transform: uppercase;
    border-radius: 30px;
    border: 2px solid var(--border);
    padding: 5px 12px 2px;
  };
}
/* End style for product template*/

.flavcity-cafe {
  .brick__section {
    gap: 25px;

    div:empty{
      display: none;
    }

    &.wrapper {
      max-width: 1340px;
      padding-left: 7.5%;
      padding-right: 7.5%;

      @include media-query($large-down) {
        padding-left: 50px;
        padding-right: 50px;
      }

      @include media-query($medium-down) {
        padding-left: 21px;
        padding-right: 21px;
      }
    }

    .brick__block {
      .brick__block__image {

        @include media-query($medium-down) {
          padding: 0;
        }

        .image-height {
          min-height: auto;
        }

        .image__hero__frame {
          overflow: visible;
        }
      }

      .brick__block__text {
        flex-basis: 92%;
        padding: 0;
        margin: 0;

        @include media-query($large-down) {
          flex-basis: 100%;
        }

        @include media-query($medium-down) {
          padding: 0 19px;
        }

        .hero__content {
          padding: 0;
        }

        .hero__title {
          line-height: 100%;

          @include media-query($medium-down) {
            text-align: center;
          }

          &.heading-x-large {
            font-size: 72px;
            font-style: normal;
            font-weight: 400;

            @include media-query($medium-down) {
              font-size: 40px;
              margin-bottom: 8px;
            }
          }

          &.heading-large {
            font-size: 64px;

            @include media-query($medium-down) {
              font-size: 40px;
            }
          }

          &.heading-medium {
            font-size: 56px;

            @include media-query($medium-down) {
              font-size: 40px;
            }
          }
        }

        .hero__subheading {

          @include media-query($medium-down) {
            text-align: center;
          }

          &.heading-x-large {
            font-size: 72px;
            font-style: normal;
            font-weight: 400;

            @include media-query($medium-down) {
              font-size: 32px;
              margin-bottom: 8px;
            }
          }

          &.heading-large {
            font-size: 64px;

            @include media-query($medium-down) {
              font-size: 32px;
            }
          }

          &.heading-medium {
            font-size: 56px;

            @include media-query($medium-down) {
              font-size: 32px;
            }
          }
        }

        .hero__rte {
          font-weight: 500;

          @include media-query($medium-down) {
            text-align: center;
            font-size: 16px;
            margin-bottom: var(--block-padding-bottom-mobile);
          }
        }

        .hero__button {
          margin-top: 0;

          .btn {
            padding: 16px 40px;
            min-width: 150px;
            max-height: 64px;

            @include media-query($small) {
              padding: 8px 20px;
              width: 100%;
              max-width: 100%;
              font-size: 18px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

.template-cafe-product {
  .section-image-with-text {
    position: relative;
    z-index: 1;
  }

  .image_with_text__product.flavcity-cafe {
    background: #EFDBB2;

    .brick__section {
      gap: 80px;

      @include media-query($medium-down) {
        gap: 15px;
      }
    }

    .brick__block {
      --bg: transparent;

      .brick__block__text {
        margin: 0;
        padding: 0;
        flex-basis: 100%;
      }
    }

    .brick__block--images {
      flex: 1 1 60%;
    }

    .brick__block--text {
      flex: 1 1 40%;
    }
  }
}