.header__mobile__hamburger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  left: 0;
  padding: 0 5px;
  margin-left: -10px;
  margin-right: 2px;
  cursor: pointer;
}

.header__mobile__hamburger[aria-expanded="false"] {
  .icon.icon--hamburger {
    display: block;
  }

  .icon.icon--close {
    display: none;
  }
}

.header__mobile__hamburger[aria-expanded="true"] {
  .icon.icon--hamburger {
    display: none;
  }

  .icon.icon--close {
    display: block;
  }
}

.header__mobile__hamburger.navlink {
  @include media-query($medium-up) {
    width: auto;
    padding: 15px;
    margin-left: -15px;
    margin-right: 0;
  }

  @include media-query($small) {
    display: block;
  }
}

.header__mobile__hamburger .icon { --icon-size: 24px; }


// Hide texts in favor of icons on mobile if Icons style is set to "Text"
.header__mobile__button .navlink__cart__content > .navtext {
  @include media-query ($small) {
    display: none;
  }
}

// Hide icons on desktop if Icons style is set to "Text"
.header__desktop__button .navlink--toplevel .icon,
.header__mobile__button .navlink--toplevel .icon {
  @include media-query ($medium-up) {
    display: none;
  }
}
