/**
 * Pages
 */

.page,
body .shopify-policy__container {
  position: relative;
  text-align: left;
  margin: 60px auto 100px;
  max-width: 810px;
  padding: 0;
  padding-left: var(--outer);
  padding-right: var(--outer);
  background: var(--bg);

  @include media-query($small) {
    margin: 40px auto;
  }
}

.page .giftcard__wrap img { margin: auto; }

.page-fullwidth { max-width: 100%; }

.page img,
.page iframe,
.shopify-policy__container img,
.shopify-policy__container iframe { max-width: 100%; }

.page:not(.search-page) img,
.shopify-policy__container img { height: auto; }

.page-404 {
  padding: var(--outer);
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 45vh;
  align-items: center;
  justify-content: center;

  .page__heading {
    margin-top: 0;
  }

  .search-outer {
    margin-bottom: 0;
  }

  main-search {
    width: 100%;
  }
}

//Titles and legal titles
.page__title,
.shopify-policy__title h1 {
  font-size: var(--font-heading-x-large);
  text-align: center;
  margin: 0 0 var(--gap);

  @include media-query($small) {
    text-align: left;
  }
}

// GIFT CARD
.gift-card-footer { text-align: center; }

#QrCode {
  padding: 10px 0 20px;

  img { display: inline-block !important; }
}

// PAGE SEARCH
.search-page {
  display: block;
  color: var(--text-dark);
  margin: 0 auto;
  padding: var(--padding-top) 0 var(--padding-bottom);
  max-width: 100%;

  .icon-search { --icons: var(--btn-text); }
}

.search-outer {
  max-width: 700px;
  padding: 0 var(--outer);
  margin: 0 auto var(--PT);
}

.search__caption {
  color: var(--COLOR-TEXT);
  text-align: center;
  padding: 15px var(--outer);
  margin: 0 0 -1px; // Prevent double border
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  text-transform: none;
}

//ReCaptcha challenge text alignment fix
.shopify-challenge__errors ul.shopify-challenge__error {
  text-align: center;
  margin: 0;
}

/* ================ Newsletter double opt in  ================ */
body .shopify-email-marketing-confirmation__container { text-align: center; }

body .shopify-email-marketing-confirmation__container h1 {
  font-size: var(--font-heading-large);
  margin-bottom: 60px;
}

body .shopify-email-marketing-confirmation__container p { font-size: var(--font-body-large); }

body .shopify-email-marketing-confirmation__container a {
  display: block;
  font-size: var(--font-body-small);
  text-decoration: underline;
  margin-top: 50px;
}

.shopify-policy__body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 20px 0;
    line-height: normal;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

