popout-select { display: block; }

.popout {
  --icons: var(--text);
  --link: var(--text);
  --link-hover: var(--text);

  position: relative;
}

.popout__toggle {
  @extend select;
  @extend .caps;

  touch-action: manipulation;
  font-size: var(--font-body-x-small);
  margin: 10px 0;
  white-space: nowrap;
  padding: 14px 16px;
  background-image: none;
}

.popout__toggle__text {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
}

.popout__toggle .icon-filter {
  --icon-size: 14px;

  margin: -5px 7px -5px 0;
  transition: transform 0.3s $ease-out-fast;
}

.popout__toggle .icon-nav-arrow-down {
  --icon-size: 16px;

  transition: transform 0.3s ease;
  margin-left: 4px;
}

@include media-query ($medium-up) {
  .popout__toggle[aria-expanded="true"] .icon-nav-arrow-down { transform: rotateX(180deg); }

  .popout__toggleable-text {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .popout__expanded-show,
  .popout__expanded-hide {
    transition: opacity 0.25s ease-in-out, visibility 0.25s;
    grid-row-start: 1;
    grid-column-start: 1;
    min-height: 100%;
  }

  .popout__toggle[aria-expanded="true"] .popout__expanded-show,
  .popout__toggle[aria-expanded="false"] .popout__expanded-hide {
    opacity: 0;
    visibility: hidden;
  }

  .popout__toggle[aria-expanded="false"] .popout__expanded-show,
  .popout__toggle[aria-expanded="true"] .popout__expanded-hide {
    opacity: 1;
    visibility: visible;
  }
}

.popout__toggle--filters[aria-expanded="true"],
.popout__toggle--filters[aria-expanded="false"] {
  @include media-query($small) {
    .popout__expanded-hide { display: none; }
  }
}

.popout__toggle--filters .icon-nav-arrow-down {
  @include media-query($small) {
    display: none;
  }
}

.popout-list {
  --border: var(--border-hairline);

  background-color: var(--COLOR-BG);
  position: absolute;
  top: 100%;
  bottom: auto;
  right: auto;
  left: 0;
  opacity: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: 100%;
  max-width: 0;
  min-height: 0;
  max-height: 0;
  border: 1px solid var(--border);
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
  list-style-type: none;
  pointer-events: none;

  .page-header & {
    right: 0;
    left: auto;
  }
}

.popout-list--visible {
  max-width: var(--max-width, 90vw);
  max-height: min(var(--max-height, 300px), 300px);
  min-height: 30px;
  padding: 10px 0;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 0.4s ease, visibility 0.4s;
}

.popout-list--top {
  bottom: 100%;
  top: auto;
}

.popout-list__item {
  padding: 0;
  margin: 0;
  text-align: left;
}

.popout-list__item a {
  --link: var(--text);
  --link-hover: var(--text);
}

.popout-list__option {
  --bg: transparent;

  padding: 8px 15px;
  width: 100%;
  max-width: var(--max-width);
  min-width: 220px;
  display: flex;
  align-items: center;
  font-size: var(--font-body-small);
  background: var(--bg);
  transition: color 0.25s ease, background 0.25s ease;
}

.popout-list__option:hover { --bg: var(--border-hairline); }

.popout-list__option--reset {
  display: none;
  margin-bottom: 10px;
  opacity: 0.7;
}

.popout-list__option--visible { display: block; }

.popout-list__item.is-active .popout-list__option span { border-bottom: 1px solid var(--text-light, var(--text)); }

/* ================ Popout footer ================ */
.popout-footer {
  display: flex;
  margin: -10px 0;

  .popout-list__option:hover { --bg: var(--COLOR-FOOTER-BG-HAIRLINE); }
}

.popout-footer .popout { margin-right: 10px; }

.popout-footer .popout__toggle { border-color: var(--border); }

.popout-footer .popout-list { border: 1px solid var(--border); }

/* ================ Popout header ================ */
.popout-header {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 -11px;
  font-size: calc(var(--font-nav-small) * var(--FONT-SIZE-NAV));
  font-family: var(--FONT-STACK-NAV);
  font-style: var(--FONT-STYLE-NAV);
  font-weight: var(--FONT-WEIGHT-NAV-BOLD);
  letter-spacing: inherit;
}

.popout-header .popout-list {
  --bg: var(--COLOR-SUBMENU-BG);
  --text: var(--COLOR-SUBMENU-LINK);
  --text-light: var(--COLOR-SUBMENU-TEXT-LIGHT);

  background: var(--bg);
  border: 1px solid var(--border);
  z-index: 1000;
}

.popout-header .popout-list__item.is-active .popout-list__option span { border-bottom-color: var(--text-light); }

.popout-header .popout__toggle {
  display: flex;
  align-items: center;
  min-height: inherit;
  height: 100%;
  padding: 5px 11px;
  border: none;
  border-radius: 0;
  margin: 0;
  color: var(--text);
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}

.popout-header .popout__toggle .icon { margin-left: 0; }

.popout-header .popout-list__option {
  padding-left: 11px;
  padding-right: 11px;
}

.popout__flag {
  display: block;
  width: 20px;
  height: 15px;
  margin-right: 8px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.popout-list__item .popout__flag { align-self: flex-start; }