/*====== Product Quick view Drawer ======*/
.product-quick-add {
  --inner: 20px;
  --outer: 20px;
  --outer-offset: calc(var(--outer) * -1);
}

dialog {
  &.is-loading .loader {
    opacity: 1;
    visibility: visible;
  }

  @include media-query($small) {
    &[open] .product-quick-add__content,
    &[open] .product-modal__notification { animation: translateUp 0.5s ease forwards; }

    &[closing] .product-quick-add__content,
    &[closing] .product-modal__notification { animation: translateDown 0.5s ease forwards; }
  }
}

.product-quick-add__inner {
  display: grid;
  grid-template-rows: 50% 1fr;
  height: 100%;

  @include media-query($small) {
    display: block;
    height: auto;
  }
}

.product-quick-add__content,
.product-modal__notification {
  position: absolute;
  height: auto;
  bottom: 0;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  max-width: var(--DRAWER-WIDTH);
  max-height: 100%;
  background: var(--bg);
  border: none;

  @include media-query($medium-up) {
    top: 0;
    left: 100%;
  }

  @include media-query($small) {
    top: auto;
    left: 0;
    max-width: 100%;
    max-height: 95%;
    border-radius: 10px 10px 0 0;
  }
}

.product-quick-add__images {
  @include media-query($small) {
    display: none;
  }

  .product__slides { height: auto; }

  .product__slide {
    overflow: hidden;
    width: 100%;
    height: 50vh;
  }

  .product__slide:only-child { width: 100%; }

  .product__photo {
    height: 100%;
    padding: 0;
  }

  .lazy-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    aspect-ratio: var(--aspect-ratio);
    height: 100%;
  }

  .deferred-media {
    height: 100%;
    padding: 0 !important;
  }

  .image-wrapper {
    height: 100%;
    position: relative;
    padding-top: unset;
    background: var(--bg);
  }
}

.product-quick-add__form {
  width: 100%;
  padding: var(--outer);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  color: var(--COLOR-TEXT);

  .product__form__outer {
    flex-grow: 1;
    border-top: 1px solid var(--border);
    padding-top: calc(var(--form-margin) / 2);

    .radio__legend {
      .radio__legend__option-name {
        font-size: 16px;
        flex-basis: auto;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        overflow-wrap: anywhere;
      }

      .radio__legend__value {
        font-size: 12px;
        flex-basis: 100%;
        display: block;
        padding-top: 4px;
      }
    }

    .radio__buttons {
      gap: 7px;
      display: flex;
      flex-wrap: wrap;
    }
  }
  .product__title__wrapper { padding-right: 0; }

  // Select dropdowns & product description overlapping fix
  .product__form__holder {
    position: relative;
    z-index: 3;
  }

  .product__title { margin-top: 0; }

  .product__block--description {
    // Make sure select dropdowns are not cut off
    min-height: 64px;
  }

  .product__submit__buttons {
    width: 100%;
    margin: var(--inner) 0 0;
  }

  .product__submit__item {
    max-width: 100%;
    padding: 0;
  }

  .product__block--buttons {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    margin: auto 0 var(--outer-offset);
    padding-bottom: var(--outer);
    background: var(--bg);
    box-shadow: 0 0 10px 10px var(--bg); // Make elements fade out smoothly on scroll

    [name="add"] {
      background-color: var(--COLOR-SECONDARY);
      color: var(--COLOR-BG-ACCENT);
      border: 1px solid transparent;

      &:hover {
        background-color: var(--COLOR-TEXT-A80);
      }
    }
  }

  .product__form__errors {
    padding-bottom: 0;
    margin: 15px 0 0 0;

    &:empty { margin-top: 0; }
  }

  .select__fieldset,
  .radio__fieldset {
    grid-template-columns: minmax(0, 5rem) minmax(0,100%);
  }

  .select-popout__list {
    max-height: 120px;
    top: auto;
    bottom: 100%;
    margin-bottom: -1px;
    border-top-width: 1px;
    border-bottom-width: 0;
  }

  .select-popout__toggle[aria-expanded="true"] {
    border-radius: 0 0 var(--RADIUS-SELECT) var(--RADIUS-SELECT);
  }

  @include media-query($small) {
    --padding-vertical: 3px;

    .product__title__wrapper {
      padding-right: 40px;
      margin: 0;
    }
  }
}

.product-quick-add__form__inner {
  display: flex;
  flex-direction: column;
  flex: 0 1 550px;

  @include media-query($small) {
    max-width: none;
  }

  .product-form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .product__block--buttons { margin-top: auto; }
}

.product-quick-add__close-outer {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 5;

  .drawer:has(.popout-list--visible) & {
    z-index: 1;
  }
}
.product-quick-add__close {
  position: absolute;
  top: 11px;
  right: 5px;
  transform: none;
  padding: 8px;

  @include media-query ($medium-up) {
    top: var(--outer);
    right: var(--outer);
    background: var(--bg);
  }
}

.product-quick-add__description { font-size: var(--font-body-medium); }