:root {
  --form-top: 10px;
  --form-left: 12px;
  --form-margin: 32px;
  --btn-height: calc(var(--btn-top) * 2 + var(--BTN-FONT-SIZE) * var(--line-height-normal) + 2px);
}

quantity-counter { display: block; }

.quantity-selector,
.select-popout__toggle,
.select-popout__list,
.product__subs__option,
.radio__button { font-size: var(--BTN-FONT-SIZE-BODY); }

.is-sticky .select-popout__list { max-height: 175px; }

.variant__labels--hide {
  .radio__legend__option-name,
  .select__label {
    @include visually-hidden;
  }

  .radio__legend { display: none; }
  .radio__legend--size { display: block; }

  .form__wrapper--classic & .select__fieldset,
  .form__wrapper--classic & .radio__fieldset { row-gap: 0; }

  .radio__legend__link { margin-left: 0; }

  .radio__buttons,
  .select-popout {
    grid-column: 1 / -1;
  }
}

.shop-pay-terms {
  --payment-terms-background-color: var(--bg);

  margin: 10px 0 0;
}

.shop-pay-terms + .radio__legend__link { margin-bottom: 15px; }

.shop-pay-terms:empty,
.product__upsell:empty { display: none; }

// Shopify Payment Terms Modal uses the same modal-wrapper class name without a shadowDOM wrapper
#shopify-payment-terms-modal .modal-wrapper { display: unset; }

.selector-wrapper {
  flex: 1 0 50%;

  label { font-size: var(--font-body-x-small); }

  @include media-query($mobile) {
    flex-basis: 100%;
  }
}

.selector-wrapper--fullwidth,
.selector-wrapper--color { flex-basis: 100%; }

.selector-wrapper--size {
  flex-grow: 0;

  .radio__legend__link {
    margin-left: 4px;

    // 5px negative margin to compensate 5px padding
    &.text-link { margin-bottom: -5px; }

    .variant__labels--hide & { margin-left: 0; }
  }
}

.variant-input-wrap { margin-left: -4px; }

.variant-label {
  display: block;
  margin: 15px 0 var(--form-margin);
}

.variant-field {
  position: relative;
  display: inline-block;
}

input[type="radio"].variant-input {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 32px;
  margin: 0;
  clip-path: unset;
  cursor: pointer;
}

.variant-input:checked + .variant__button-label { box-shadow: 0 0 0 2px var(--accent); }

.variant__button-label {
  letter-spacing: 0.025em;
  line-height: 1.6;
  position: relative;
  display: inline-block;
  font-weight: var(--FONT-WEIGHT-BODY);
  padding: 7px 15px;
  border-radius: var(--RADIUS);
  background-color: #FFF;
  box-shadow: 0 0 0 1px #E8E8E1;
  margin: 0 4px 12px;
  cursor: pointer;

  &.disabled {
    color: #E8E8E1;

    &::after {
      position: absolute;
      content: "";
      left: 50%;
      top: 0;
      bottom: 0;
      border-left: 1px solid;
      border-color: #E8E8E1;
      transform: rotate(45deg);
    }
  }
}

.is-focused .variant-input:focus + .variant__button-label,
.is-focused .swatch input[type="radio"]:focus + .variant__button-label--color {
  &::before {
    position: absolute;
    content: "";
    left: -2px;
    bottom: -8px;
    height: 2px;
    width: calc(100% + 4px);
    background: var(--accent);
  }
}

.quantity-selector {
  position: relative;

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;

    .no-js & { appearance: auto; }
  }

  input[type="number"] {
    appearance: textfield;

    .no-js & { appearance: auto; }
  }

  .no-js & {
    display: block;
  }
}

.quantity__input,
.properties__input {
  display: block;
  width: 100%;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: var(--line-height-normal);
  color: var(--text);
}

.properties__input {
  padding-top: var(--form-top);
  padding-bottom: var(--form-top);
}

.quantity__input {
  padding: var(--form-top) 30px;
  text-align: center;
}

.quantity__plus {
  right: 0;
  justify-content: flex-end;
  padding-right: 15px;
}

.quantity__minus {
  left: 0;
  justify-content: flex-start;
  padding-left: 15px;
}

.quantity__plus,
.quantity__minus {
  position: absolute;
  top: 0;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;

  * { pointer-events: none; }

  .icon { color: var(--text-dark); }

  &:active { transform: translateY(1px); }

  .no-js & { display: none; }
}

.properties__checkbox { grid-column: 1 / span 2; }

/*================ Add to cart ================*/
.product__submit__add {
  position: relative;
  width: 100%;
}

.product__submit__add .svg-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
}
.product__submit__add[disabled] { pointer-events: none; }
.product__submit__add circle ~ circle { stroke: currentcolor; }
.product__submit__add span { transition: opacity 0.3s; }

.product__submit__add .icon-nav-arrow-up {
  --icon-size: 20px;

  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: calc(var(--icon-size) / -2);
}

.product__submit__buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  button {
    width: 100%;
  }
}

.product__submit__item {
  width: 100%;
}

.product__submit__buttons .btn { min-height: var(--btn-height); }

.product__submit__item {
  min-height: var(--btn-height);

  &:empty {
    display: none;
  }
}

.product__submit__item .btn {
  display: block;
  width: 100%;
  padding: var(--btn-top);
  min-height: fit-content;
}

.product__submit__item--inline {
  display: grid;
  gap: 12px;
  grid-template-columns: minmax(0, 9.4rem) minmax(0, 100%);

  @include media-query ($large-down) {
    grid-template-columns: minmax(0, 7.4rem) minmax(0, 100%);
  }

  @include media-query ($small) {
    gap: 8px;
    grid-template-columns: minmax(0, 8.7rem) minmax(0, 100%);
  }

  .quantity-selector {
    height: 100%;
  }

  .quantity__input {
    background: var(--BTN-SECONDARY-BG);
    height: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }

  .quantity__plus,
  .quantity__minus {
    --icon-size: 29px;
  }
}

.product__submit__item {
  &.product__submit__item--inline {
    .quantity__input {
      --border: transparent;
    }
  }
}

.product__block:empty {display: none}

.product__block--accordion {
  .accordion__title {
    @extend h6;
    padding-top: 12px;
    padding-bottom: 12px;

    @include media-query ($small) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

.product__block--buttons + .product__custom-code {
  text-align: center;
  font-size: 14px;
  line-height: 120%;
  font-weight: 500;
}
/* Make Quantity picker height to always match the Add to cart button height */
.product__submit__item--inline .select-popout__toggle {
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Match quantity border color to adjacent button color */
.product__submit__item--inline .select-popout,
.product__submit__item--inline .quantity__input { --border: var(--BTN-PRIMARY-BORDER); }
.product__submit--spb .product__submit__item--inline .select-popout { --border: var(--BTN-PRIMARY-BORDER); }

.product__block--divider:empty { display: block; }
.product__block--divider + .product__block:empty + .product__block--divider { display: none; }

/*================ Smart Shopify Payment Buttons ================*/
shopify-accelerated-checkout,
shopify-accelerated-checkout-cart {
  --checkout-button-border-height: 1px;
  --shopify-accelerated-checkout-button-block-size: calc(var(--BTN-FONT-SIZE) * var(--line-height-normal) + 2 * var(--btn-top) + 2 * var(--checkout-button-border-height));
  --shopify-accelerated-checkout-button-border-radius: var(--btn-radius);
  --shopify-accelerated-checkout-row-gap: calc(var(--inner) / 2);
}

.product__submit__item::after { content: none; }

.btn--primary .shopify-payment-button__button--unbranded { @extend .btn--primary; }
.btn--secondary .shopify-payment-button__button--unbranded { @extend .btn--secondary; }
.btn--white .shopify-payment-button__button--unbranded { @extend .btn--white; }
.btn--black .shopify-payment-button__button--unbranded { @extend .btn--black; }

.btn--solid .shopify-payment-button__button--unbranded { @extend .btn--solid; }
.btn--outline .shopify-payment-button__button--unbranded { @extend .btn--outline; }

.btn--solid.btn--primary .shopify-payment-button__button--unbranded { @include btn-solid-primary; }
.btn--solid.btn--secondary .shopify-payment-button__button--unbranded { @include btn-solid-secondary; }
.btn--solid.btn--white .shopify-payment-button__button--unbranded { @include btn-solid-white; }
.btn--solid.btn--black .shopify-payment-button__button--unbranded { @include btn-solid-black; }

.btn--outline.btn--primary .shopify-payment-button__button--unbranded { @include btn-outline-primary; }
.btn--outline.btn--secondary .shopify-payment-button__button--unbranded { @include btn-outline-secondary; }
.btn--outline.btn--white .shopify-payment-button__button--unbranded { @include btn-outline-white; }
.btn--outline.btn--black .shopify-payment-button__button--unbranded { @include btn-outline-black; }

.shopify-payment-button .shopify-payment-button__button--unbranded {
  @extend .btn;

  position: relative;
  width: 100%;
  min-height: var(--btn-height);
  color: var(--btn-text);
  background: var(--btn-bg);
  border-color: var(--btn-border);

  &:hover:not([disabled]) {
    color: var(--btn-text-hover);
    background: var(--btn-bg-hover);
    border-color: var(--btn-border-hover);
  }
}

.shopify-payment-button .shopify-payment-button__more-options {
  --link: var(--text);

  font-weight: var(--FONT-WEIGHT-BODY-BOLD);
  font-size: var(--font-body-small);

  &:active {
    text-decoration: underline;
    transform: translateY(1px);
  }

  &:hover,
  &:focus {
    background-color: transparent;
    box-shadow: none;
  }
}

shopify-paypal-button { position: relative; } // fix for dynamic paypal button causing horizontal scroll on the page

/*================ Variant styles ================*/
.form__wrapper--classic .select__fieldset,
.form__wrapper--classic .radio__fieldset { display: block; }
.form__wrapper--classic .radio__legend { margin-bottom: 10px; }

/*================ Variant states ================*/
.variant--soldout,
.variant--unavailable {
  .shopify-payment-button,
  .product__price,
  .product__sale {
    opacity: 0.3;

    label,
    input,
    button { cursor: default; }
  }

  .product__submit__add:not(.product__submit__add--default):active { transform: translateY(0); }

  .product__submit__add:not(.product__submit__add--default),
  .product__submit__add:not(.product__submit__add--default):hover {
    border-color: transparent;
    background-color: var(--text-a5);
    color: var(--text-a50);
    cursor: not-allowed;

    > * { pointer-events: none; }

    @include media-query($small) {
      transform: none;
      pointer-events: none;
    }
  }

  .shopify-payment-button {
    position: relative;
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgb(0 0 0 / 0%);
      z-index: 2;
    }
  }
}

.variant--unavailable .product__price { opacity: 0; }

.product-soldout-notification { display: none; }
.product-soldout-notification.has-success { display: block; }

@include media-query($small) {
  popup-component.product-soldout-notification {
    & > button {
      width: calc(100% - (var(--outer) * 2));
    }
  }
}
.show-product-notification.variant--soldout {
  button[data-add-to-cart-bar][disabled],
  [data-cart-bar-scroll] + .product__cart-bar-notification-button,
  button[data-add-to-cart][disabled][type="submit"] { display: none; }
  .product-soldout-notification { display: block; }
}

.show-product-notification.all-variants--soldout {
  .product__submit__add--default { display: none; }
  .product__cart-bar-notification-button { display: block; }
}

.has-success .product__notification {
  //.product__notification__form { display: none; }
  .product__notification__message:not(.product__notification__message--error) { display: block; }
}

.product__cart-bar-notification-button {
  display: none;

  .show-product-notification.variant--soldout & {
    display: block;
  }
}

.product-soldout-notification.has-success button[data-popup-open] { display: none; }
.variant--soldout .product-soldout-notification.has-success button { display: block; }

.product-modal__notification {
  @include media-query ($small) {
    height: auto;
  }
}

/* Variant Countdown */
.variant__countdown {
  font-size: var(--font-body-small);
  display: grid;
  grid-template-columns: 1fr;

  .icon {
    margin-right: 10px;
    flex: 0 0 var(--icon-size, 20px);
    align-self: flex-start;
  }
}

.variant__countdown > span {
  grid-row-start: 1;
  grid-column-start: 1;
  min-height: 100%;
}

.count-is-in .variant__countdown--in,
.count-is-low .variant__countdown--low,
.count-is-out .variant__countdown--out,
.count-is-unavailable .variant__countdown--unavailable { visibility: initial; }

[data-remaining-show-notice="low-inventory"].count-is-in .variant__countdown--in,
[data-remaining-show-notice="low-inventory"].count-is-out .variant__countdown--out,
[data-remaining-show-notice="low-inventory"].count-is-unavailable .variant__countdown--unavailable { visibility: hidden; }

// Show "Item is unavailable/sold out" if only form buttons are hidden
.form__wrapper--no-buttons .count-is-out .variant__countdown--out,
.form__wrapper--no-buttons .count-is-unavailable .variant__countdown--unavailable { visibility: initial; }

.variant__countdown--in,
.variant__countdown--low,
.variant__countdown--out,
.variant__countdown--unavailable {
  display: flex;
  align-items: center;
  visibility: hidden;

  svg { --icons: var(--icon-color); }
}

/*
* Notification form for Sold out
*/
.product__notification {
  display: block;

  .product__notification__title {
    color: var(--text);
  }

  .product__notification__form {
    input:-webkit-autofill {
      color: var(--text) !important;
      -webkit-text-fill-color: var(--text) !important;
    }
  }

  .contact-form { margin-top: 16px; }

  label {
    display: block;
    margin-bottom: 15px;
  }

  .input-group {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    gap: var(--inner);
    border: 0;
    margin-bottom: 0;
  }

  .input-group__item {
    max-width: 100%;
    border: 1px solid var(--border);
    border-radius: var(--RADIUS);
  }

  .input-group__field { width: 100%; }

  .input-group__item--btn {
    flex: 1;
    max-width: 100%;
    width: 100%;
  }

  button[type="submit"] { width: 100%; }


  .has-error {
    .product__notification__message--error {
      display: block;
    }
  }
}

.product__notification__message {
  display: none;
  margin: var(--gap) 0;
  text-align: center;
}

.supports-touch .product__notification input {
  // prevent iOS zooming the page on input click
  font-size: max(16px, var(--font-body-medium));
}
