/**
 * Product grid
 */

.grid .no-results:first-child { grid-column: 1/-1; }

.product-item {
  --bg: var(--bg-accent-lighten);
  background: var(--bg-accent-lighten);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  scroll-snap-align: start;

  .tabs-collections & .grid__heading-holder { overflow: hidden; }

  .sale-box,
  .preorder-box,
  .badge-box {
    //position: absolute;
    //left: var(--left-spacing);
    //top: 5px;
    //z-index: 3;
  }

  quick-add-product {
    display: flex;
    padding: 0 16px 30px;
    margin-top: auto;

    @include media-query($small) {
      padding: 0 12px 20px;
    }

    .quick-add__button {
      overflow: hidden;
      width: 100%;
      max-width: 195px;

      @include media-query($medium-down) {
        max-width: 140px;
        padding: 10px 15px;
        font-size: calc(var(--BTN-FONT-SIZE) * 0.9);
        line-height: 28px;
      }

      &[disabled] {
        cursor: not-allowed;
        pointer-events: none;
      }
    }

    .quick-add__holder {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      &.quick-add__holder .btn__error {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 12px;
        line-height: 1.4;
      }

      form {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

  }

  /* // TODO: delete next JudgeMe CSS after launch  */
  /* // and make all these changes from admin if possible */
  .jdgm-widget {
    padding-top: 8px;
    flex-grow: 1;

    @include media-query($small) {
      padding-top: 0;
    }

    .jdgm-star.jdgm-star {
      color: var(--COLOR-PRIMARY);
    }

    .jdgm-prev-badge__text {
      display: none;
    }
  }
}

.product-item--card {
  --bg: var(--COLOR-BG-ACCENT);
  --text: var(--COLOR-TEXT);
  --grid-inner: var(--inner);

  background: var(--bg);
  color: var(--text);

  .radio__fieldset--pgi {
    --bg: var(--COLOR-BG-ACCENT);
    --bg-arrow: var(--COLOR-BG-ACCENT);
  }
}

.sale-box,
.preorder-box,
.badge-box {
  //--left-spacing: 5px;
  //--padding-vertical: 0.438rem;
  //
  //text-align: center;
  //padding: var(--padding-vertical) 15px;
  //width: auto;
  //max-width: calc(100% - (var(--left-spacing) * 2));
  //white-space: nowrap;
  //text-overflow: ellipsis;
  //overflow: hidden;
  //border-radius: var(--btn-radius);
  //color: var(--text);
  //background: var(--bg);
  //
  //@extend .caps;
  //
  //@include media-query($small) {
  //  --padding-vertical: 6px;
  //}
}

.sale-box {
  --text-color: var(--COLOR-SALE-TEXT);
  --background-color: var(--COLOR-SALE-BG);
}

.preorder-box,
.badge-box {
  --text-color: var(--COLOR-BADGE-TEXT);
  --background-color: var(--COLOR-BADGE-BG);
}

@include media-query ($medium-up) {
  .product-item--featured {
    min-height: 100%;
    align-self: stretch;
  }

  .product-item--featured .grid__heading-holder {
    width: 100%;
    min-height: 100%;
  }
  .product-item--full { display: flex; }

  .flickity-enabled .product-item--full,
  .flickity-enabled .product-item--full .grid__heading-holder {
    min-height: 0;
    height: 100%;
  }
}

@include media-query($small) {
  .product-item--featured .grid__heading-holder { min-height: 100%; }
}

@include media-query($mobile) {
  .product-item--featured .grid__heading-holder {
    padding-top: var(--PRODUCT-GRID-ASPECT-RATIO);
  }
}

.product-item--featured .grid__heading-holder {
  flex: 1 1 auto;
  margin-bottom: 0;
  color: var(--text);
}

.product-item--featured .grid__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--inner);
}

.product-item--featured .grid__heading-text {
  flex: 1;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.product-item--featured .grid__heading-actions { margin-top: auto; }

.product-item--featured .grid__heading-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.product-item--aligned {
  height: auto;
  align-self: flex-start;
}

.product-item--aligned .grid__heading-holder {
  padding: var(--PRODUCT-GRID-ASPECT-RATIO) 0 0;
  height: 0;
  min-height: 1px;
}

.no-js .product-item--featured .grid__heading-holder { padding-top: 100%; }

.product-item__swatches__holder {
  display: flex;
  min-height: calc(var(--font-body-small) * 1.4 + 16px);
  position: relative;
  margin: 0 calc((var(--inner) / 2) * -1); // Give more horizontal space for the swatches
  padding: 0;
  font-size: 0;

  @include media-query($small) {
    margin: 0 -12px; // Give more horizontal space for the swatches
  }
}

.product-item__swatches__count {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  padding: 8px calc(var(--inner) / 2);
  font-size: var(--font-body-small);
  color: var(--COLOR-TEXT);
  font-style: italic;
  transition: opacity 0.3s ease, visibility 0.3s;

  .product-item__swatches__holder--slider &,
  .product-item__swatches__holder--text-slider & { cursor: pointer; }

  .no-js & { position: relative; }
}

.product-item__swatches__holder--grid .selector-wrapper__scrollbar {
  display: flex;
  flex-wrap: wrap;
}

.product-item__swatches__holder--limited .selector-wrapper__scrollbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .swatch-limited { padding-left: 5px; }
}

.product-item--centered {
  .product-item__swatches__holder--grid,
  .product-item__swatches__holder--limited {
    .selector-wrapper__scrollbar { justify-content: center; }
  }
}

.swatch-limited { font-size: var(--font-body-small); }

.product-link {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.product-item__image {
  display: block;
  padding-top: var(--PRODUCT-GRID-ASPECT-RATIO);
  height: 0;
  position: relative;
  overflow: hidden;

  &:not(.image--empty) { background: var(--bg); }

  .predictive-search & {
    @include media-query($small) {
      height: 100%;
    }
  }

  &:only-child { border-bottom: none; }

  .is-focused & { overflow: visible; }

  &.is-visible {
    overflow: visible;
    z-index: 12;
  }

  .product-link {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .product-item--featured-image & { height: 100%; }

  .svg-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.product-item--featured-image { color: var(--text); }

.product-item__image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: var(--overlay-opacity);
    background: var(--overlay-bg);
  }
}

.product-item__image-content {
  position: relative;
  width: 100%;
  text-align: center;
}

.product-item__image-content .btn {
  color: inherit;
  margin-top: 1em;
}

.product-item__image-content .btn--solid,
.product-item__image-content .btn--outline { border-color: inherit; }

.product-item__image-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-item__bg__inner,
.product-item__bg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.product-item__bg,
.product-item__bg__under {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  width: auto;
  height: auto;
}

.product-item__bg__under {
  z-index: 1;
  background: var(--bg);
  line-height: 0;
  overflow: hidden;
  transition: opacity 0.25s ease-in-out;
  height: calc(100% + 2px);

  iframe { pointer-events: none; }
}

.product-item__bg__slide {
  width: 100%;
  height: 100%;
}

.flickity-enabled > .product-item__bg__slide { display: none; }

.product-item__bg__slide.deferred-media { position: absolute; }

.product-item__bg.is-fade {
  animation: fakeFade 0.25s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fakeFade {
  0% { opacity: 1; }
  50% { opacity: 0.8; }
  100% { opacity: 1; }
}

.product-item__bg__inner {
  opacity: 0;
  visibility: hidden;
  background: var(--bg);
  transition: opacity 0.3s ease, visibility 0.3s;
}

.product-item__bg__inner.is-visible {
  opacity: 1;
  visibility: unset;
}

// Fade out the featured image on hover on color swatch
.product-item__bg:has(.product-item__bg__inner.is-visible) > figure {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-item--centered {
  .product-information { text-align: center; }
  quick-add-product .quick-add__holder { justify-content: center; }
}

.product-item--left .radio__fieldset--swatches .swatch__button { margin: 0 10px 0 0; }
.product-item--left .radio__fieldset--swatches .swatch__button:last-child { margin-right: 0; }

.product-item__price__holder {
  color: var(--COLOR-TEXT);
  overflow: hidden;
  font-size: calc(100% * 0.9);
  margin-top: 8px;
  font-weight: 600;
}

.product-item__title {
  position: relative;
  margin: 0;
  transition: color 0.3s;
  font-weight: 600;
  color: var(--COLOR-TEXT);
  font-size: calc(100% * 0.9);
  margin-bottom: auto;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 56px;
  line-height: 150%;

  @include media-query($small) {
    margin: 0;
    min-height: 55px;
  }
}

.product-item__reviews {
  min-height: 20px;
  margin-bottom: 24px;

  @include media-query($small) {
    margin-bottom: 16px;
  }
}

.product-item__info [data-oke-star-rating] {
  margin: 0 !important;
}

.product-item__type {
  color: var(--COLOR-ACCENT);
  text-align: center;
  font-family: var(--FONT-STACK-BTN);
  font-size: calc(100% * 0.75);
  font-style: normal;
  font-weight: 700;

  text-transform: uppercase;

  &:not(.heading-mini) {
    font-size: calc(100% * 0.75);
    line-height: 26px;
  }

  &.heading-mini {
    line-height: 141.667%;

    @include media-query($small) {
      line-height: 150%;
    }
  }
}

.product__note {
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
}

.product__block-with-price {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .block-padding {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.product-item__type {
  color: var(--COLOR-ACCENT);
  text-align: center;
  font-family: var(--FONT-STACK-BTN);
  font-size: calc(100% * 0.75);
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.product-item__cutline,
.product-item__price { overflow-wrap: break-word; }

.product-item__cutline {
  display: block;
  margin-bottom: 4px;
  color: var(--COLOR-TEXT);
}
.product-item__cutline:empty::before { content: "\00a0"; }
.product-item__price { flex: 0 1 auto; }
.product-item__price .unit { font-size: var(--font-body-x-small); }
.product-item__price {
  .custom_metafield_price-suffix {
    font-family: var(--FONT-BODY-SECONDARY);
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0;
    color: var(--COLOR-SECONDARY);
  }
}

.product-item.is-active .image--empty { transition: opacity 0.25s; }
.product-item.is-active:hover .image--empty { opacity: 0; }

.product-information {
  text-align: left;
  line-height: 1.4;
  margin-top: auto;

  @include media-query($small) {
    line-height: 1.2;
  }
}

.product-item__info {
  padding: 20px 16px 8px;
  height: 100%;

  @include media-query($small) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.product-information .price {
  font-size: inherit;
  color: var(--COLOR-TEXT);

  @include media-query($small) {
    margin-top: 5px;
  }
}

.product-information .price.sale { opacity: 1; }
.product-information .price small { font-size: inherit; }

.product-information .unit {
  color: var(--COLOR-TEXT);
  font-size: var(--font-body-x-small);
}

.product-information .item-type { color: var(--text-dark); }

.product-information .sold-out { color: var(--COLOR-TEXT); }

.no-js .product-information { border-top: 1px solid var(--border); }

.sale .new-price { color: var(--COLOR-SALE); }

.new-price { margin-right: 6px; }
.new-price:last-child { margin-right: 0; }

.old-price {
  --text: var(--text-dark);

  text-decoration: line-through;
}

.no-results {
  //Prevent slider adding an inline position: absolute;
  position: static !important;
  padding: var(--gap) 30px;
  text-align: center;
  width: 100%;
}

.no-touch .double__image hover-images { opacity: 0; }

.no-touch .double__image:hover hover-images { opacity: 1; }

.no-touch .double__image.is-visible hover-images { opacity: 1; }
.no-touch .double__image.is-visible:hover hover-images { opacity: 0; }

.no-touch body.is-focused .double__image .product-link--image:focus hover-images { opacity: 1; }
.no-touch body.is-focused .double__image.is-visible hover-images { opacity: 0; }
.no-touch body.is-focused .double__image.is-visible .product-link--image:focus hover-images { opacity: 1; }

hover-images {
  --slides-count: 10;
  --slider-index: 0;
}

.supports-touch hover-images {
  .product-item__bg__slider {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    @include hide-scrollbar;

    user-select: none;
    -webkit-user-drag: none;
  }

  .product-item__bg {
    opacity: 0;
    visibility: hidden;
  }

  .product-item__bg__slide {
    min-width: 100%;
    scroll-snap-align: start;
  }

  .product-item__bg__slide.deferred-media { position: relative; }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 2px;
    background: var(--text);
    transform: scaleX(calc(1 / var(--slides-count, 1))) translateX(calc(var(--slider-index, 1) * 100%));
    transform-origin: left center;
    border-radius: var(--RADIUS);
    // hide custom scrollbar
    display: none;

    @include media-query($medium-up) {
      bottom: auto;
      top: 1px;
    }
  }
}

.no-touch hover-images {
  .flickity-viewport { height: 100% !important; } // Height fix on resize
  .product-item__bg__slider { height: 100%; }

  .product-item__bg__slider::after {
    content: "flickity";
    display: none;
  }
  .product-item__bg__slider:not(.flickity-enabled) .product-item__bg__slide:not([data-hover-slide]) { display: none; }

  .flickity-prev-next-button {
    --inner: 5px;

    background: none;
    box-shadow: none;
  }
  .flickity-prev-next-button::after { content: none; }
  .flickity-prev-next-button.previous { left: var(--inner); }
  .flickity-prev-next-button.next { right: var(--inner); }
}
// TODo file contains style for main pdp section
.flavcity-shop {

  &.index-tab-collections {
    .tabs-collections .grid--slider .grid-item {
      margin-right: 16px;

      @include media-query($small) {
        margin-right: 0;
      }
    }

    .tabs-collections__head .grid__heading-text {
      @include media-query($small) {
        padding: 0 var(--outer);
        margin-bottom: 32px;
      }
    }

    .grid__heading-holder {
      margin-bottom: 44px;
    }

    .grid {
      gap: 16px;

      @include media-query($small) {
        gap: 8px;
      }
    }
  }

  .product-item {
    border-radius: 12px;

    .product-item__image {
      .product-item__quick-add-wrapper {
        position: absolute;
        bottom: 5px;
        right: 16px;
        z-index: 2;

        @include media-query($small) {
          right: 12px;
        }

        quick-add-product {
          padding: 0;

          .quick-add__button {
            padding: 0;
            max-height: 32px;
            max-width: 32px;
            border: none;
            color: #ffffff;

            @include media-query($small) {
              max-height: 18px;
              max-width: 18px;
            }

            .btn__added {
              display: none;
            }
            .btn__loader {
              display: none;
            }

            &:hover {
              background: transparent;
              color: var(--BTN-PRIMARY-BG-HOVER);
            }
          }
        }
      }
    }

    .product-information {
      margin-top: 0;
    }

    .product-item__info {
      padding: 16px 16px 24px 16px;

      @include media-query($small) {
        padding: 16px 12px;
      }

      .product-link {

        .product-item__reviews {
          order: 1;
          margin-bottom: 10px;

          [data-oke-star-rating] {
            .oke-sr-count {
              display: block;
            }
            .oke-sr-stars {
              margin: 0;
            }
            .oke-sr-count-number {
              position: relative;
              color: var(--COLOR-TEXT);
              font-size: 12px;
              font-weight: 500;

              @include media-query($small) {
                font-size: 11px;
              }

              &::before {
                content: "(";
              }
              &::after {
                content: ")";
              }
            }
            .oke-sr-label-text {
              display: none;
            }
          }

          .oke-sr {
            width: 100%;

            .oke-is-clickable,
            & > div {
              display: flex;
              gap: 5px;
              justify-content: start;
              width: 100%;
            }
          }
        }

        .product-item__title {
          order: 2;
          text-align: start;
          font-family: var(--FONT-BODY-SECONDARY);
          font-size: 28px;
          line-height: 120%;
          letter-spacing: 0;
          min-height: 67px;

          @include media-query($small) {
            font-size: 20px;
            min-height: 48px;
          }
        }

        .product-item__serving-text {
          order: 3;
          font-weight: 600;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0;
          text-align: start;
          margin-top: 10px;

          @include media-query($small) {
            font-size: 14px;
          }
        }

        .product-item__price__holder {
          order: 4;
          text-align: start;
          margin-top: 10px;

          .old-price {
            color:  #0e5261;
            font-family: var(--FONT-POPINS);
            font-size: 16px;
            font-weight: 500;
          }

          @include media-query($small) {
            margin-top: 10px;
          }

          &.product-item__price-additional-margin {
            margin-top: 36px;

            @include media-query($small) {
              margin-top: 34px;
            }
          }

          .product-item__price {
            .price {
              font-family: var(--FONT-BODY-SECONDARY);
              font-size: 24px;
              line-height: 120%;
              letter-spacing: 0;
              color: var(--COLOR-SALE);

              @include media-query($small) {
                font-size: 20px;
                line-height: 100%;
              }
            }
          }
        }
      }
    }
  }
}


.flavcity-cafe {
  .grid-outer .grid-item {
    background: var(--COLOR-BG-ACCENT);

    .badge--container {
      display: none;
    }

    .product-information {
      margin-top: 0;
    }

    .product-item__info {
      padding: 16px;

      .jdgm-widget {
        display: block !important;
        min-height: 48px;
        order: 1;
        padding: 0 0 16px 0;

        .jdgm-star.jdgm-star {
          color: var(--COLOR-ACCENT);
        }
      }

      .product-item__additional-text {
        order: 2;
        color: #DB0082;
        text-align: center;
        font-family: var(--FONT-BODY-SECONDARY);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        text-transform: uppercase;
        margin-bottom: 2px;

        @include media-query($small) {
          font-size: 14px;
          line-height: 120%;
        }

      }

      .product-item__type {
        order: 3;
      }

      .product-item__title {
        order: 4;
        font-family: var(--FONT-HEADING-SECONDARY);

        @include media-query($small) {
          font-size: 16px;
          line-height: 120%;
          letter-spacing: 0;
          min-height: unset;
          min-height: 39px;
        }
      }

      .product-item__title-additional-margin {
        margin-top: 28px;

        @include media-query($small) {
          margin-top: 17px;
        }
      }

      .product-item__price__holder {
        order: 4;
        font-weight: 700;
        margin-top: 0;
      }
    }

    quick-add-product {
      padding: 0 16px 16px 16px;

      .shopify-product-form {
        width: 100%;
      }

      .quick-add__button {
        width: 100%;
        max-width: unset;
        padding: 13px 15px;
        border-width: 2px;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        text-transform: uppercase;
      }
    }
  }
}