/**
 * Quick add
 */

.quick-add__holder {
  --btn-text: var(--accent);
  width: 100%;
  background: var(--TRANSPARENT);
  text-align: center;
  pointer-events: auto;
}

.quick-add__holder.is-disabled { pointer-events: none; }

.quick-add__button {
  &.is-visible,
  &.is-loading,
  &.is-added { visibility: visible; }

  &.is-disabled { pointer-events: none; }

  @include media-query($medium-up) {
    position: relative;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    box-shadow: none;
  }

  @include media-query($small) {
    .has-error & {
      width: auto;
      right: var(--btn-offset);

      .btn__error { font-size: var(--BTN-FONT-SIZE); }
    }

    .btn__text { display: none; }
  }
}

.quick-add__button > span { pointer-events: none; }
