.search-form {
  position: relative;
  display: flex;

  input[type="search"] {
    width: 100%;
    margin: 0;
    padding: 15px;
    font-size: var(--font-body-medium);
    border: 0;

    // Make font size at least 16px on mobile devices to prevent page auto zoom in
    @supports (-webkit-touch-callout: none) {
      font-size: max(calc(var(--font-nav-small) * var(--FONT-SIZE-NAV)), 16px);
    }
  }

  button[type="reset"] {
    flex: 0 0 auto;
    height: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    color: var(--link);
    font-size: var(--font-body-x-small);
    text-transform: uppercase;
    letter-spacing: 0.12em;
  }
}

.input-holder {
  position: relative;
  display: flex;
  flex: 1 1 auto;
}

.search-submit {
  @extend .caps;

  --icon-size: 24px;
  margin: 0;
  border-radius: 0 var(--RADIUS) var(--RADIUS) 0;
}

.search-box {
  border-radius: var(--RADIUS) 0 0 var(--RADIUS);
  color: var(--COLOR-TEXT);
}

main-search {
  .input-holder {
    border: none;
    border-radius: var(--RADIUS) 0 0 var(--RADIUS);
    background: var(--COLOR-BG-ACCENT);
  }
}

.search-results-item__image {
  display: block;
  padding-top: var(--PRODUCT-GRID-ASPECT-RATIO);
  height: 0;
  position: relative;
  overflow: hidden;
  background-color: var(--text-a5);

  &:only-child { border-bottom: none; }

  .is-focused & { overflow: visible; }

  &.is-visible {
    overflow: visible;
    z-index: 12;
  }

  .item-link {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .svg-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.search-results-item__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 0;
  line-height: 1;
  will-change: transform, opacity;
}

.item-link {
  display: block;
  padding: calc(var(--inner) / 2) var(--inner);

  @include media-query($small) {
    padding: 12px;
  }
}

.search-page {
  .article__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 12px;

    &:empty {
      display: none;
    }

    span {
      text-transform: uppercase;
      display: inline-block;
      font-weight: 600;
      font-family: var(--FONT-STACK-BTN);
      border-radius: 30px;
      border: 2px solid var(--border);
      color: var(--text);
      padding: 4px 12px 3px;

      @include media-query($small) {
        font-size: 16px;
        line-height: 26px; /* 162.5% */
      }
    }
  }

  .article__title {
    a {
      font-size: 90%;
    }
  }

  .grid-outer {
    --grid-outer: 30px;

    padding: var(--grid-outer)
  }

  .filter-group__heading,
  .sidebar__item,
  .filter__price__currency,
  .filter__price__input,
  .no-results,
  .pagination-custom {
    color: var(--COLOR-TEXT);
  }
}
