.select-popout {
  --border: var(--BTN-PRIMARY-BORDER);

  position: relative;
  text-align: left;
  align-self: flex-start;
  font-family: var(--FONT-STACK-BODY);
  font-weight: 600;
  font-size: var(--FONT-SIZE-BASE);
  color: var(--COLOR-TEXT);
  border: 2px solid var(--COLOR-BORDER);
  border-radius: var(--RADIUS-SELECT);
  max-width: 100%;
  //padding: 9px 16px;
  background: var(--COLOR-BG-ACCENT);


  & + .quantity-selector,
  & + .cart__quantity-counter .cart__quantity { display: none; }

  &.is-active {
    display: none;

    & + .quantity-selector,
    & + .cart__quantity-counter .cart__quantity { display: block; }
  }
}

.no-js .select-popout .cart__quantity,
.no-js .select-popout > .quantity-selector { display: block; }

.select-popout__toggle {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding: 16px 24px;
  border: 1px solid var(--border);
  border-radius: var(--RADIUS-SELECT);
  line-height: var(--line-height-normal);
  text-align: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: border-radius 0.15s ease;

  span {
    font-style: var(--FONT-STYLE-BODY);
    font-weight: var(--FONT-WEIGHT-BODY);
    letter-spacing: var(--LETTER-SPACING-BODY);
    font-family: var(--FONT-STACK-BODY);
    font-weight: 600;
  }
}
.sold-out .select-popout__toggle::after { content: attr(data-select-soldout); }
.unavailable .select-popout__toggle::after { content: attr(data-select-unavailable); }

.select-popout__toggle .icon-nav-arrow-down {
  --icon-size: 18px;

  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  transition: transform 0.3s ease;
}
.select-popout__toggle[aria-expanded="true"] { border-radius: var(--RADIUS-SELECT) var(--RADIUS-SELECT) 0 0; }
.select-popout__toggle[aria-expanded="true"] .icon-nav-arrow-down { transform: rotateX(180deg); }
.popout-list--top .select-popout__toggle[aria-expanded="true"] { border-radius: 0 0 var(--RADIUS-SELECT) var(--RADIUS-SELECT); }

.select-popout__list {
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 300px;
  min-height: calc(var(--form-top) * 2 + var(--font-body-small) * 1.2); // Padding top/bottom + font size x font-adjust x line-height
  width: 100%;
  border: 1px solid var(--border);
  border-top-width: 0;
  margin: -1px 0 0;
  background: var(--COLOR-BG);
  list-style: none outside none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease, visibility 0.2s;

  &.popout-list--visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 0.4s, visibility 0.4s;
  }

  &.popout-list--top {
    border-width: 1px 1px 0;
    bottom: 100%;
    top: auto;
    margin: 0 0 -1px;
  }
}

.select-popout__item {
  display: block;
  margin-bottom: 0;
}

.select-popout__item.is-active .select-popout__option { background: var(--bg-accent); }

.select-popout__option {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: var(--form-top) var(--form-left);
  color: inherit;
  transition: background 0.3s;

  &:hover {
    color: var(--text);
    background: var(--bg-accent);
  }

  &.sold-out::after { content: attr(data-select-soldout); }

  &.unavailable::after { content: attr(data-select-unavailable); }
}

.popout-list--top .select-popout__list {
  border-width: 1px 1px 0;
  bottom: 100%;
  top: auto;
  margin: 0 0 -1px;
}

.no-js {
  .select-popout__toggle,
  .select-popout__list {
    display: none;
  }
}