.swiper-inner {
  position: relative;
}

.swiper-scrollbar {
  height: 3px;
  background-color: var(--COLOR-BG-ACCENT);
}

.swiper-scrollbar-drag {
  height: 3px;
  background-color: var(--COLOR-SECONDARY);
  cursor: grab;
}

.swiper-button-next {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;

  &[aria-disabled="true"] {
    display: none;
  }
}

.swiper-button-prev {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;

  &[aria-disabled="true"] {
    display: none;
  }
}

.swiper-button-rounded {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--COLOR-BG-ACCENT);
  border: 2px solid var(--COLOR-SECONDARY);
  --icon-size: 28px;

  svg {
    display: none;
  }

  @include media-query($small) {
    width: 50px;
    height: 50px;
    --swiper-navigation-sides-offset: 0;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: var(--icon-size);
    height: var(--icon-size);
    background: var(--COLOR-SECONDARY);
    -webkit-mask-size: var(--icon-size);
    mask-size: var(--icon-size);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    max-width: 100%;
    max-height: 100%;
    border-radius: var(--RADIUS);
  }

  &.swiper-button-prev {
    &:before {
      -webkit-mask-image: var(--ICON-ARROW-LEFT);
      mask-image: var(--ICON-ARROW-LEFT);
    }
  }

  &.swiper-button-next {
    &:before {
      -webkit-mask-image: var(--ICON-ARROW-RIGHT);
      mask-image: var(--ICON-ARROW-RIGHT);
    }
  }
}
swiper-container[effect="fade"] {
  swiper-slide {
    background-color: var(--background-color);
  }
}