#shopify-pc__banner {
  box-shadow: none;
  border-top: 2px solid var(--COLOR-BORDER);

  .shopify-pc__banner__body {

    #shopify-pc__banner__body-title {
      font-family: var(--FONT-STACK-HEADING);
      font-size: 28px;
    }
  }

  .shopify-pc__banner__btns {
    button {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: auto;
      padding: var(--btn-top) var(--btn-left);
      border: 1px solid var(--BTN-PRIMARY-BORDER);
      border-radius: var(--btn-radius);
      background-color: var(--BTN-PRIMARY-BG);
      font-family: var(--FONT-STACK-BTN);
      font-size: var(--BTN-FONT-SIZE);
      line-height: 30px;
      color: var(--BTN-PRIMARY-TEXT);
      font-style: var(--FONT-STYLE-BTN);
      font-weight: var(--FONT-WEIGHT-BTN);
      letter-spacing: var(--BTN-LETTER-SPACING);
      text-decoration: none;
      text-align: center;
      vertical-align: middle;
      text-transform: var(--BTN-UPPERCASE);
      transition: 0.25s ease-out;
      transition-property: color, background, border;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      max-height: 60px;

      &:hover {
        background-color: var(--BTN-PRIMARY-BORDER-HOVER);
        border-color: var(--BTN-PRIMARY-BORDER-HOVER);
      }
    }

    #shopify-pc__banner__btn-manage-prefs {
      --btn-top: 0;
      --btn-left: 0;
      --btn-radius: 0;
      border-color: transparent;
      background-color: transparent;
      color: var(--text);
      margin-bottom: 0;
      width: auto;
      max-width: none;
      display: inline-block;

      span {
        background: linear-gradient(to right, currentcolor, currentcolor);
        background-size: 100% 1px;
        background-position: 50% 86%;
        background-repeat: no-repeat;
        transition: color 0.25s
        ease-in, background-size 0.25s
        ease-in;
      }


      &:hover {
        border-color: transparent;
        color: #4a808a;

        span {
          background-size: 0% 1px;
        }
      }
    }
  }
}

#shopify-pc__prefs {
  #shopify-pc__prefs__dialog {
    border-radius: 12px;

    header {
      #shopify-pc__prefs__header-title {
        font-family: var(--FONT-STACK-HEADING);
        font-size: 28px;
      }

      .shopify-pc__prefs__header-actions {
        button {
          position: relative;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: auto;
          padding: var(--btn-top) var(--btn-left);
          border: 1px solid var(--BTN-PRIMARY-BORDER);
          border-radius: var(--btn-radius);
          background-color: var(--BTN-PRIMARY-BG);
          font-family: var(--FONT-STACK-BTN);
          font-size: var(--BTN-FONT-SIZE);
          line-height: 30px;
          color: var(--BTN-PRIMARY-TEXT);
          font-style: var(--FONT-STYLE-BTN);
          font-weight: var(--FONT-WEIGHT-BTN);
          letter-spacing: var(--BTN-LETTER-SPACING);
          text-decoration: none;
          text-align: center;
          vertical-align: middle;
          text-transform: var(--BTN-UPPERCASE);
          transition: 0.25s
          ease-out;
          transition-property: color, background, border;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          max-height: 60px;

          @media only screen and (max-width: 750px) {
            margin-right: 0;
          }

          &:hover {
            background-color: var(--BTN-PRIMARY-BORDER-HOVER);
            border-color: var(--BTN-PRIMARY-BORDER-HOVER);
          }
        }
      }
    }

    .shopify-pc__prefs__scrollable {
      .shopify-pc__prefs__intro-main {
        h3 {
          font-family: var(--FONT-STACK-HEADING);
          font-size: 24px;
        }

        p {
          font-size: 18px;
        }
      }

      .shopify-pc__prefs__options {
        label {
          font-family: var(--FONT-STACK-HEADING);
          font-size: 24px;
        }
      }
    }
  }
}