dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6000;
  width: 100vw;
  height: 100%;
  max-width: 100vw;
  max-height: 100%;
  padding: 0;
  background: none;
  border: 0;
  margin: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--underlay-bg);

  &::backdrop {
    background: transparent;
  }

  &:not([open]) {
    pointer-events: none;
    display: none;
  }

  &[open] {
    animation: fadeIn 0.5s ease forwards;

    .drawer__inner { animation: slideInRight 0.5s ease forwards; }
  }

  &[closing] {
    animation: fadeOut 0.5s ease forwards;

    .drawer__inner { animation: slideOutRight 0.5s ease forwards; }
  }
}
