.drawer {
  --inner: 15px;
  --inner-offset: -15px;

  // Prevent children elements of hidden element to be focused
  .is-hidden a,
  .is-hidden button,
  .is-hidden input,
  .is-hidden textarea,
  .is-hidden select {
    visibility: hidden;
  }
}

.drawer__inner {
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  left: 100vw;
  z-index: 6001;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-left: 1px solid var(--border);
  background: var(--COLOR-BG);

  .is-open & {
    animation: slideInRight .6s ease;
    animation-fill-mode: forwards;
  }

  .is-closing & {
    animation: slideOutRight .6s ease;
    animation-fill-mode: forwards;
  }

  @include media-query($small-up) {
    max-width: var(--DRAWER-WIDTH);
  }

  @include media-query($small) {
    border-left: none;
  }
}

.drawer__underlay { z-index: 6000; }