/**
 * Grid
 */

.grid {
  display: grid;
  gap: var(--grid-gap-vertical) var(--grid-gap);
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));

  @include media-query($large-up) {
    --columns: var(--COLUMNS);
  }

  @include media-query($widescreen) {
    --columns: var(--COLUMNS-WIDESCREEN, var(--COLUMNS));
  }

  @include media-query($medium) {
    --columns: var(--COLUMNS-MEDIUM);
  }

  @include media-query($small) {
    --columns: var(--COLUMNS-SMALL);
  }

  @include media-query($mobile) {
    --columns: var(--COLUMNS-MOBILE);
  }
}

.grid--1 {
  --columns: 1;
}

.grid--2 {
  --columns: 2;
}

.grid--3 {
  --columns: 3;

  @include media-query($small) { --columns: 1; }

  @include media-query($mobile) { --columns: 1; }
}

.grid-outer {
  position: relative;
  flex-grow: 1;
  padding: 0 var(--grid-outer);

  .collection-list & {
    padding-top: var(--outer);
    padding-bottom: var(--outer);
  }
}

// Account specific grid
.grid--account {
  @include media-query ($medium-up) {
    grid-template-columns: 1fr 3fr;
    align-items: start;
  }

  @include media-query ($small) {
    grid-template-columns: auto;
  }
}

// Article specific grid
.grid--article {
  @include media-query ($medium-up) {
    grid-template-columns: auto minmax(300px, 360px);
    align-items: start;
  }

  @include media-query ($small) {
    --columns: 1;
  }
}

.grid-item__content { padding-inline: var(--grid-inner); }

.items-list__loader,
.grid__loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;

  .items-list__wrapper.is-loading &,
  .grid-outer.is-loading & {
    opacity: 1;
    visibility: visible;
  }

  @include media-query($small) {
    z-index: 201;
  }
}

.items-list__loader-line,
.grid__loader-line {
  position: sticky;
  top: var(--collection-nav-height);
  width: 100%;
  margin: 0;
}

.has-header-sticky .items-list__loader-line,
.has-header-sticky .grid__loader-line {
  top: calc(var(--collection-nav-height) + var(--header-height));
}
