/**
 * Icons
 */

.icon {
  display: inline-block;
  width: var(--icon-size, 24px);
  height: var(--icon-size, 24px);
  vertical-align: middle;
  fill: none;
  stroke: var(--icons, currentColor);
  stroke-width: var(--ICON-STROKE-WIDTH);

  .no-svg & { display: none; }

  circle,
  ellipse,
  g,
  line,
  path,
  polygon,
  polyline,
  rect {
    fill: inherit;
    stroke: inherit;
  }
}

.socials--normal .icon-x { stroke-width: calc(var(--ICON-STROKE-WIDTH) * 1.25); }
.socials--thick .icon-x { stroke-width: calc(var(--ICON-STROKE-WIDTH) * 1.25); }

.icon-arrow-right { transition: transform 0.25s ease-out; }

.icon-media-video path,
.icon-media-model path {
  fill: none;
  stroke: none;
}
.icon-media-video .icon-media-video-outline,
.icon-media-model .icon-media-model-outline { fill: var(--COLOR-BG); opacity: 0.6; }
.icon-media-video .icon-media-video-element,
.icon-media-model .icon-media-model-element { fill: currentColor; }

.icon-cancel { pointer-events: none; }

/*============================================================================
  A generic way to visually hide content while
  remaining accessible to screen readers (h5bp.com)
==============================================================================*/
.icon-fallback-text {
  @include visually-hidden();

  .no-svg & {
    @include visually-shown(static);
  }
}

/*================ Payment Icons ================*/

.payment-icons {
  @include prefix('user-select', none, moz ms webkit spec);
  cursor: default;
}
