// ========== Images ==========

.lazy-image { display: block; }

.lazy-image--backfill::after {
  content: none;
  display: none;
}

.lazy-image--backfill.is-loading {
  position: relative;
  overflow: hidden;
  //background: var(--bg-accent);
  z-index: 1;

  //@include media-query($medium-up) {
  //  &::after {
  //    content: "";
  //    display: block;
  //    position: absolute;
  //    top: -10%;
  //    left: -10%;
  //    right: -10%;
  //    bottom: -10%;
  //    z-index: -1;
  //    animation-duration: 1.6s;
  //    animation-fill-mode: forwards;
  //    animation-iteration-count: infinite;
  //    animation-name: shimmer;
  //    animation-timing-function: linear;
  //    background: linear-gradient(98deg, var(--bg-accent) 16%, var(--bg-accent-lighten) 32%, var(--bg-accent) 48%);
  //    transform: translateX(-100%);
  //  }
  //}
}

.no-js .lazy-image--backfill.is-loading::after { content: none; }
.no-js .lazy-image img.is-loading { opacity: 1; }

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

// Use this background color as an image placeholder for the time being
.lazy-image img {
  transition: opacity 0.5s ease-in;
}

.lazy-image img.is-loading {
  opacity: 1;
}

/* === snippets/image-hero.liquid === */
.image__fill {
  position: relative;
  overflow: hidden;
  width: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: auto;
  }
}

/* === snippets/image.liquid === */
.image-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: calc(1 / var(--aspect-ratio) * 100%);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    image-rendering: auto;
  }

  .svg-placeholder {
    position: absolute;
    top: 0;
    left: 0;
  }

  @include media-query($medium-up) {
    &.mobile { display: none; }
  }

  @include media-query($small) {
    &.desktop { display: none; }
  }

  .image-skeleton {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background: linear-gradient(90deg, #dce0e5, #f0f2f4, #dce0e5);
    background-size: 200%;
    animation: skeleton-loader 1s infinite reverse;
  }
  
  &.is-loading .image-skeleton {
    opacity: 1;
  }
}

.image-wrapper--cover {
  height: 100%;
  padding-top: 0;

  img { object-fit: cover; }
}

img.fit-cover { object-fit: cover; }

@keyframes skeleton-loader {
  from { background-position: -100% 0 }
  to { background-position: 100% 0 }
}

/* === snippets/hero.liquid === */
.image__hero__frame {
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.image__hero__frame.image-height {
  @include media-query($medium-up) {
    padding-top: calc(1 / var(--aspect-ratio) * 100%);
    min-height: 100%;
    height: auto;
  }
}

.image__hero__frame.image-height--mobile {
  @include media-query($small) {
    padding-top: calc(1 / var(--aspect-ratio-mobile, var(--aspect-ratio)) * 100%);
    min-height: 100%;
    height: auto;
  }
}

.image__hero__pane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
}

.image__hero__scale {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  min-height: inherit;
}

.image--empty { background: var(--bg-accent); }

.image__hero__missing-metafield-image {
  position: relative;
  z-index: 11;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: var(--bg-accent);
  color: var(--COLOR-TEXT-BTN-BG-BLACK);
  padding: var(--inner);
}

/* == Link that fills a position: relative image wrapper == */
.link-over-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  will-change: opacity;

  .image-wrapper {
    transition: transform 2s $ease-out-fast;
    transform: scale(1);
  }

  &:hover .image-wrapper { transform: scale(1.06); }
}

.image-overlay-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0.5;
  background: linear-gradient(to bottom, rgb(0 0 0 / 5%), rgb(0 0 0 / 30%) 100%);
}

/* === image load animations === */
.fade-in-image .image__hero__scale > img {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.no-js .fade-in-image .image__hero__scale > img,
.fade-in-image .image__hero__scale > img.is-loaded { opacity: 1; }

.fade-in-image-zoom .image__hero__scale > img {
  opacity: 0;
  transform: scale(1.06);
  transition: opacity 0.65s $ease-out-fast, transform 2s $ease-out-fast;
}

.no-js .fade-in-image-zoom .image__hero__scale > img,
.fade-in-image-zoom .image__hero__scale > img.is-loaded {
  opacity: 1;
  transform: scale(1);
}

.no-js {
  .image__hero__scale { padding-top: 0 !important; }

  .fade-in-image .image__hero__scale > img { opacity: 1; }

  .fade-in-image-zoom .image__hero__scale > img {
    opacity: 1;
    transform: scale(1);
  }

  [data-aos] {
    opacity: 1 !important;
    transform: none !important;
  }
}

// Inline image used on Text with products section
.inline-image {
  --image-width: 200px;

  display: inline-block;
  width: var(--image-width);
  margin: 2px 0;
  vertical-align: middle;

  @include media-query($small) { width: var(--image-width-mobile, var(--image-width)); }
}

.inline-image__inner { overflow: hidden; }

.inline-image__image { transition: transform 2s $ease-out-fast; }
.inline-image__link:hover .inline-image__image { transform: scale(1.08); }

.aspect-ratio {
  @include aspect-ratio;
}
