toggle-ellipsis {
  --height: 175px;

  display: block;
  position: relative;
  overflow: hidden;
  max-height: var(--height);
  transition: max-height .5s ease;

  .no-js & { max-height: none; }
}

.toggle-ellipsis__content {
  overflow: hidden;
}

.toggle-ellipsis__actions {
  --bg: var(--COLOR-BG);
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  background: var(--bg);
  transition: opacity .5s ease, visbility .5s;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 99.99%;
    right: 0;
    height: 30px;
    background: linear-gradient(to bottom, transparent, var(--bg));
    pointer-events: none;
  }

  .is-open & {
    opacity: 0;
    visibility: hidden;
  }

  .is-enabled & { display: block; }
}