/**
 * Typography
 */

:root {
  --font-body-x-large: var(--FONT-BODY-X-LARGE-MOBILE);
  --font-body-large: var(--FONT-BODY-LARGE-MOBILE);
  --font-body-medium: var(--FONT-BODY-MEDIUM-MOBILE);
  --font-body-small: var(--FONT-BODY-SMALL-MOBILE);
  --font-body-x-small: var(--FONT-BODY-X-SMALL-MOBILE);
  --font-nav-large: 1;
  --font-nav-medium: 0.875;
  --font-nav-small: 0.75;
  --font-heading-mini: var(--FONT-HEADING-MINI-MOBILE);
  --font-heading-x-small: var(--FONT-HEADING-X-SMALL-MOBILE);
  --font-heading-small: var(--FONT-HEADING-SMALL-MOBILE);
  --font-heading-medium: var(--FONT-HEADING-MEDIUM-MOBILE);
  --font-heading-large: var(--FONT-HEADING-LARGE-MOBILE);
  --font-heading-x-large: var(--FONT-HEADING-X-LARGE-MOBILE);
  --font-subheading: var(--FONT-SIZE-SUBHEADING-MOBILE);

  @include media-query($medium) {
    --font-nav-large: 1.125;
    --font-nav-medium: 0.938;
    --font-nav-small: 0.813;
  }

  @include media-query($large-up) {
    --font-body-x-large: var(--FONT-BODY-X-LARGE);
    --font-body-large: var(--FONT-BODY-LARGE);
    --font-body-medium: var(--FONT-BODY-MEDIUM);
    --font-body-small: var(--FONT-BODY-SMALL);
    --font-body-x-small: var(--FONT-BODY-X-SMALL);
    --font-nav-large: 1.188;
    --font-nav-medium: 1;
    --font-nav-small: 0.875;
    --font-heading-mini: var(--FONT-HEADING-MINI);
    --font-heading-x-small: var(--FONT-HEADING-X-SMALL);
    --font-heading-small: var(--FONT-HEADING-SMALL);
    --font-heading-medium: var(--FONT-HEADING-MEDIUM);
    --font-heading-large: var(--FONT-HEADING-LARGE);
    --font-heading-x-large: var(--FONT-HEADING-X-LARGE);
    --font-subheading: var(--FONT-SIZE-SUBHEADING-DESKTOP);
  }
}

h1,
.h1 { font-size: var(--font-heading-x-large); }

h2,
.h2 { font-size: var(--font-heading-large); }

h3,
.h3 { font-size: var(--font-heading-medium); }

h4,
.h4 { font-size: var(--font-heading-small); }

h5,
.h5 { font-size: var(--font-heading-x-small); }


.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5{
  @include heading;
  line-height: 1;
  margin:0;
}

h6,
.h6 {
  @include heading;
  margin:0;
  font-size: var(--font-heading-mini);
  line-height: 34px;
  font-weight: 700;
  text-transform: var(--FONT-UPPERCASE-HEADING, none);

  @include media-query ($medium-down) {
    line-height: 30px;
  }
}

body { @include body; }
.subheading {
  @include subheading;
  line-height: 40px;

  @include media-query ($medium-down) {
    line-height: 30px;
  }
}

.body-x-large { font-size: var(--font-body-x-large); }
.body-large { font-size: var(--font-body-large); }
.body-medium { font-size: var(--font-body-medium); }
.body-small { font-size: var(--font-body-small); }
.body-x-small { font-size: var(--font-body-x-small); }

p .p { font-size: var(--font-body-medium); }

small,
.small,
p small { font-size: var(--font-body-small); }

.font-body { @include body; }
.font-heading { @include heading; }

.heading-mini { font-size: var(--font-heading-mini); }
.heading-x-small { font-size: var(--font-heading-x-small); }
.heading-small { font-size: var(--font-heading-small); }
.heading-medium { font-size: var(--font-heading-medium); }
.heading-large { font-size: var(--font-heading-large); }
.heading-x-large { font-size: var(--font-heading-x-large); }

@include media-query($medium-up) {
  .heading-desktop-mini { font-size: var(--font-heading-mini); }
  .heading-desktop-x-small { font-size: var(--font-heading-x-small); }
  .heading-desktop-small { font-size: var(--font-heading-small); }
  .heading-desktop-medium { font-size: var(--font-heading-medium); }
  .heading-desktop-large { font-size: var(--font-heading-large); }
  .heading-desktop-x-large { font-size: var(--font-heading-x-large); }
}

@include media-query($small) {
  .heading-mobile-mini { font-size: var(--font-heading-mini); }
  .heading-mobile-x-small { font-size: var(--font-heading-x-small); }
  .heading-mobile-small { font-size: var(--font-heading-small); }
  .heading-mobile-medium { font-size: var(--font-heading-medium); }
  .heading-mobile-large { font-size: var(--font-heading-large); }
  .heading-mobile-x-large { font-size: var(--font-heading-x-large); }
}

/*================ Standard elements ================*/

p,
.p { margin: 0; }

.strong,
strong { font-weight: var(--FONT-WEIGHT-BODY-BOLD); }

.uppercase { text-transform: uppercase; }

a {
  text-decoration: none;
  color: var(--link);
  transition: color 0.25s $ease-out-fast;
}

@media (hover: hover) {
  a:hover { color: var(--link-hover); }
}

blockquote {
  font-size: var(--font-body-medium);
  padding-left: 1.5em;
  border-left: 5px solid var(--text);
  margin: 0 0 1.5em 1.25em;
}

ul,
ol {
  font-size: var(--font-body-medium);
  margin: 0 0 1.5em 1.3em;

  &.unstyled {
    list-style-type: none;
    margin-left: 0;
  }

  &.inline-list li {
    display: inline-block;
    margin-bottom: 0;
  }
}

li { margin: 0 0 0.25em; }

hr,
.hr {
  clear: both;
  border-top: solid var(--border);
  border-width: 1px 0 0;
  margin: rem(20px) 0;
  height: 0;

  &.hr--small { margin: rem(10px) 0; }

  &.hr--tall { margin: rem(40px) 0; }

  &.hr--clear { border-top-color: transparent; }

  &.hr--dash {
    margin: var(--gap) auto;
    width: 40px;
  }

  &.hr--thick { border-width: 2px 0 0; }

  &.hr--underline {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &.hr--no-margin { margin: 0; }

  &.hr--color { border-top-color: var(--text-a35); }
}

.page__heading {
  //text-align: center;
  position: relative;
  z-index: 11;
}

.caps {
  @include caps;
}

.caps--link {
  @include caps-link;

  padding-left: 0;
  padding-right: 0;
}

.sup {
  font-size: 50%;
  vertical-align: super;
  font-size: 50%;
}

body .primary-heading__font {
  font-family: var(--FONT-STACK-HEADING);
  font-style: var(--FONT-STYLE-HEADING);
  font-weight: var(--FONT-WEIGHT-HEADING);
  text-transform: none;
}

body .secondary-heading__font {
  font-family: var(--FONT-HEADING-SECONDARY);
  font-style: var(--FONT-STYLE-HEADING-SECONDARY);
  font-weight: var(--FONT-WEIGHT-HEADING-SECONDARY);
  text-transform: none;
}


body .ternary-heading__font {
  font-family: var(--FONT-HEADING-TERNARY);
  font-style: var(--FONT-STYLE-HEADING-TERNARY);
  font-weight: var(--FONT-WEIGHT-HEADING-TERNARY);
  text-transform: none;
}

body .primary-text__font {
  font-family: var(--FONT-STACK-BODY);
  font-style: var(--FONT-STYLE-BODY);
  font-weight: var(--FONT-WEIGHT-BODY);
}

body .secondary-text__font {
  font-family: var(--FONT-BODY-SECONDARY);
  font-style: var(--FONT-BODY-STYLE--SECONDARY);
  font-weight: var(--FONT-BODY-WEIGHT-SECONDARY);
}

body .ternary-text__font {
  font-family: var(--FONT-BODY-TERNARY);
  font-style: var(--FONT-BODY-STYLE-TERNARY);
  font-weight: var(--FONT-BODY-WEIGHT-TERNARY);
}