.underlay {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  background: var(--underlay-bg);
  transition: opacity 0.3s ease 0.1s, visibility 0s linear 0.4s;
}

.expanded ~ .underlay,
.no-js details[open] .underlay,
details[open="true"] .underlay,
.is-open .underlay,
.underlay--visible {
  visibility: visible;
  opacity: var(--underlay-opacity);
  transition-duration: 0.3s, 0s;
  transition-delay: 0.1s, 0s;
}
