.reviews {
  position: relative;
  overflow: hidden;
  background: var(--bg);
}
@media only screen and (max-width: 749px) {
  .reviews {
    overflow: hidden;
  }
}

.reviews__grid[data-slider] .flickity-viewport {
  overflow: visible;
}

.review__quote--open-negative {
  top: calc(var(--inner) / -2);
}

.review__quote--close-negative {
  bottom: calc(var(--inner) / -2);
}

@media only screen and (min-width: 750px) {
  .reviews--have-images .reviews__grid {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    scroll-padding: 0;
  }
  .reviews--have-images .reviews__grid-item {
    margin: 0;
    width: calc(100% / var(--columns));
    scroll-snap-align: start;
  }
}
.reviews--have-images .review__content {
  margin-left: var(--inner);
  margin-right: var(--inner);
}

@media only screen and (max-width: 749px) {
  .reviews--no-images .reviews__grid-item {
    margin-right: var(--gap);
  }
}

@media only screen and (min-width: 750px) {
  .reviews__grid.flickity-enabled {
    overflow: visible;
  }
}
@media only screen and (max-width: 749px) {
  .reviews__grid {
    padding-left: var(--grid-outer);
    margin-left: var(--grid-outer-offset);
    margin-right: var(--grid-outer-offset);
    gap: 0;
    max-width: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-padding: var(--grid-outer);
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .reviews__grid::-webkit-scrollbar {
    display: none;
  }
  .reviews__grid::after {
    content: "";
    display: block;
    position: relative;
    min-height: 1px;
    padding-right: var(--grid-outer);
  }
}

@media only screen and (min-width: 750px) {
  .js .reviews__grid[data-slider]:not(.flickity-enabled) {
    display: flex;
    overflow-x: auto;
  }
}

@media only screen and (min-width: 750px) {
  .no-js .reviews__grid[data-slider] {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 750px) {
  .reviews__grid[data-slider]::after {
    content: "flickity";
    display: none;
  }
}

.reviews__grid-item {
  --columns: var(--COLUMNS);
  position: relative;
  flex: 0 0 auto;
  display: flex;
  width: calc(100% / var(--columns) - var(--gap) * (var(--columns) - 1) / var(--columns));
  margin-right: var(--grid-gap);
}
@media only screen and (min-width: 750px) and (max-width: 989px) {
  .reviews__grid-item {
    --columns: var(--COLUMNS-MEDIUM);
  }
}
@media only screen and (max-width: 749px) {
  .reviews__grid-item {
    width: calc(100% - 50px);
    scroll-snap-align: start;
  }
}
.reviews__grid-item:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 749px) {
  .reviews__grid-item:only-child {
    width: 100%;
  }
}

.review {
  display: flex;
  align-items: stretch;
  width: 100%;
  background-color: var(--card-bg);
}
@media only screen and (max-width: 989px) {
  .review {
    position: relative;
    flex-direction: column;
  }
}

a.review {
  text-decoration: none;
  color: inherit;
  transition: color 0.4s;
}
@media (hover: hover) {
  a.review:hover .review__image img, a.review:hover .review__image svg {
    transform: scale(1.06);
  }
}

.review__image {
  position: relative;
  overflow: hidden;
  flex: 0 0 50%;
  max-width: 50%;
}
.review__image .reviews__grid-item-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media only screen and (max-width: 989px) {
  .review__image {
    height: auto;
    flex: unset;
    max-width: unset;
  }
}

.review__image img,
.review__image svg {
  transition: transform 1s ease;
}

.review__image svg {
  position: absolute;
  top: 0;
  left: 0;
}

.review__image .image-wrapper {
  min-height: 100%;
}

.review__content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 32px;
}
@media only screen and (max-width: 1399px) {
  .review__content {
    padding: 20px 12px;
  }
}

.review__content > :last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.review__content blockquote {
  border: 0;
  margin: 0 0 2em;
  padding: 0;
  font-weight: 600;
  text-transform: none;
  font-family: var(--FONT-STACK-SUBHEADING);
}
@media only screen and (max-width: 749px) {
  .review__content blockquote.heading-mini {
    font-size: 18px;
    line-height: 155.556%;
  }
}
@media only screen and (max-width: 749px) {
  .review__content blockquote {
    margin-bottom: 12px;
  }
}

.review__content blockquote:only-child {
  margin: auto 0;
  justify-self: center;
}

.review__content blockquote p {
  font-size: inherit;
  line-height: inherit;
}

.review__content blockquote > p {
  margin-top: 0;
}

.review__content blockquote p:last-of-type {
  margin-bottom: 0;
}

.review__content blockquote svg {
  display: block;
  width: 41px;
  height: 31px;
  margin-bottom: 64px;
}
@media only screen and (max-width: 1399px) {
  .review__content blockquote svg {
    margin-bottom: 42px;
  }
}
@media only screen and (max-width: 749px) {
  .review__content blockquote svg {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.review--has-image {
  height: 100%;
}

.review--has-card-bg {
  border-radius: 20px;
  overflow: hidden;
}

.review__quote {
  position: absolute;
  z-index: 1;
  width: var(--inner);
  height: var(--inner);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: var(--inner);
  overflow: visible;
}

.review__quote--single {
  left: 0;
  width: auto;
  height: auto;
  display: inline-block;
}
@media only screen and (max-width: 749px) {
  .review__quote--single {
    margin-bottom: 30px;
  }
}

.text-center .review__quote--single {
  left: 50%;
  transform: translateX(-50%);
}

.review__quote--open {
  left: 0;
  top: 0;
}

.review__quote--close {
  right: 0;
  bottom: 0;
}

.review__quote--close .review__quote-inner {
  justify-content: flex-end;
}

.review__quote-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: inherit;
}

.review__author {
  position: relative;
  display: flex;
  margin: auto 0 var(--inner);
}

.review__content > .review__author:only-child {
  justify-self: center;
  margin: auto 0;
}

.review__author__content {
  flex: 0 1 auto;
}
.review__author__content p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
@media only screen and (max-width: 749px) {
  .review__author__content p {
    font-size: 18px;
  }
}

.review__author__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  /* 150% */
}
@media only screen and (max-width: 749px) {
  .review__author__name {
    font-size: 18px;
    line-height: 28px;
    /* 155.556% */
  }
}

.review__additional-code {
  height: 18px;
  margin-bottom: 16px;
}
@media only screen and (max-width: 749px) {
  .review__additional-code {
    margin-bottom: 12px;
  }
}

.review__author__subheading {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
  margin-top: 8px;
}

.review__author__bio-image {
  --image-size: 34px;
  flex: 0 0 var(--image-size);
  width: var(--image-size);
  height: var(--image-size);
  margin-right: 8px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.text-center .review__author__bio-image {
  margin: 0 auto 4px;
}

.text-center .review__author {
  flex-direction: column;
  justify-content: center;
}

.review__tweet-url {
  font-size: var(--font-body-x-small);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1399px) {
  .review__tweet-url {
    margin-bottom: 15px;
  }
}

.review__foot {
  margin-top: auto;
}

.review__foot:only-child {
  justify-self: center;
  margin: auto 0;
}

.review__foot > :last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.reviews__grid-slider {
  --grid-gap: 30px;
}
@media only screen and (max-width: 749px) {
  .reviews__grid-slider {
    --grid-gap: 12px;
  }
}
.reviews__grid-slider.wrapper--full-padded {
  position: relative;
}
.reviews__grid-slider.wrapper--full-padded:before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: var(--outer);
  background-color: var(--bg);
  z-index: 1;
}
@media only screen and (max-width: 989px) {
  .reviews__grid-slider.wrapper--full-padded:before {
    content: unset;
  }
}
.reviews__grid-slider.wrapper--full-padded:after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: var(--outer);
  background-color: var(--bg);
  z-index: 1;
}
@media only screen and (max-width: 1399px) {
  .reviews__grid-slider.wrapper--full-padded:after {
    content: unset;
  }
}
@media only screen and (min-width: 990px) and (max-width: 1399px) {
  .reviews__grid-slider .reviews__grid-item {
    width: 60%;
    scroll-snap-align: start;
  }
}
@media only screen and (max-width: 749px) {
  .reviews__grid-slider .reviews__grid-item {
    width: 69.7%;
    scroll-snap-align: start;
  }
}
.reviews__grid-slider .image-wrapper img {
  object-fit: cover;
}
@media only screen and (max-width: 989px) {
  .reviews__grid-slider .slider__arrows {
    display: flex;
    justify-content: center;
    gap: 8px;
    position: relative;
    top: unset;
    bottom: unset;
    right: unset;
    left: unset;
    z-index: 10;
    overflow: hidden;
    pointer-events: none;
    margin-top: 24px;
  }
}
.reviews__grid-slider .slider__button {
  background-color: white;
  border: 2px solid var(--COLOR-SECONDARY);
  --btn-size: 60px;
  --grid-outer: 27px;
  opacity: 1;
}
@media only screen and (max-width: 1399px) {
  .reviews__grid-slider .slider__button {
    --btn-size: 50px;
    --grid-outer: 10px;
    transform: unset;
  }
}
.reviews__grid-slider .slider__button:disabled {
  visibility: visible;
  cursor: not-allowed;
  opacity: 0.5;
}
.reviews__grid-slider .slider__button:before {
  background: var(--COLOR-SECONDARY);
}
.reviews__grid-slider .slider__button:after {
  content: unset;
}
@media only screen and (max-width: 989px) {
  .reviews__grid-slider .slider__button {
    position: relative;
    top: unset;
    bottom: unset;
    right: unset;
    left: unset;
    margin-top: 0;
  }
}
@media only screen and (max-width: 749px) {
  .reviews__grid-slider .slider__button {
    display: block;
  }
}

.reviews-slider__section .reviews-slider__wrapper {
  padding-left: 11.5%;
  padding-right: 11.5%;
}
@media only screen and (max-width: 749px) {
  .reviews-slider__section .reviews-slider__wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.reviews-slider__section .reviews__grid-item {
  width: 100%;
  margin: 0;
}
.reviews-slider__section .review {
  padding: 0 15%;
}
@media only screen and (max-width: 749px) {
  .reviews-slider__section .review {
    padding: 0 16px;
  }
}
.reviews-slider__section .review__content {
  justify-content: start;
  padding-bottom: 0;
}
@media only screen and (max-width: 749px) {
  .reviews-slider__section .review__content {
    padding: 24px 0;
  }
}
.reviews-slider__section .review__stars {
  padding-bottom: 32px;
}
@media only screen and (max-width: 749px) {
  .reviews-slider__section .review__stars {
    padding-bottom: 20px;
  }
}
.reviews-slider__section .review__author {
  margin: 0;
}
.reviews-slider__section .review__author__content {
  padding-top: 32px;
}
@media only screen and (max-width: 749px) {
  .reviews-slider__section .review__author__content {
    padding-top: 20px;
  }
}
.reviews-slider__section .review__author__content .body-large {
  font-weight: 600;
}
.reviews-slider__section .slider__button {
  opacity: 1;
}
@media only screen and (max-width: 749px) {
  .reviews-slider__section .slider__button {
    top: 26px;
  }
}
.reviews-slider__section .slider__button[disabled] {
  cursor: default;
  opacity: 0.5;
}
@media only screen and (max-width: 749px) {
  .reviews-slider__section .slider__arrows {
    position: relative;
    overflow: visible;
    left: 0;
    right: 0;
    height: 51px;
  }
  .reviews-slider__section .slider__button--prev {
    left: 34%;
  }
  .reviews-slider__section .slider__button--next {
    right: 34%;
  }
}

.reviews-slider__container .review__content {
  --inner: 24px;
  padding: var(--inner) 0;
}
@media only screen and (min-width: 750px) {
  .reviews-slider__container .review__content {
    --inner: 40px;
  }
}
.reviews-slider__container .review__author__subheading {
  margin-top: 3px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
@media only screen and (max-width: 749px) {
  .reviews-slider__container .review {
    padding: 0;
  }
}
.reviews-slider__container .swiper-button-prev {
  top: 40%;
}
.reviews-slider__container .swiper-button-next {
  top: 40%;
}
@media only screen and (max-width: 749px) {
  .reviews-slider__container {
    padding-bottom: 50px;
  }
  .reviews-slider__container .swiper-button-prev {
    top: auto;
    bottom: 0;
    left: 33%;
  }
  .reviews-slider__container .swiper-button-next {
    top: auto;
    bottom: 0;
    right: 33%;
  }
}
.reviews-slider__container .swiper-button-prev[aria-disabled=true],
.reviews-slider__container .swiper-button-next[aria-disabled=true] {
  opacity: 0.5 !important;
  display: flex;
  pointer-events: none;
  cursor: not-allowed;
}

.reviews.flavcity-cafe {
  background: var(--bg-accent);
}
.reviews.flavcity-cafe .reviews-slider__section-title {
  color: var(--COLOR-LINK);
}
.reviews.flavcity-cafe .reviews-slider__wrapper {
  padding-left: 17%;
  padding-right: 17%;
}
@media only screen and (max-width: 1399px) {
  .reviews.flavcity-cafe .reviews-slider__wrapper {
    padding-left: 11%;
    padding-right: 11%;
  }
}
@media only screen and (max-width: 749px) {
  .reviews.flavcity-cafe .reviews-slider__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
.reviews.flavcity-cafe .reviews-slider__wrapper .review {
  padding: 0 10%;
}
@media only screen and (max-width: 1399px) {
  .reviews.flavcity-cafe .reviews-slider__wrapper .review {
    padding: 0 15%;
  }
}
@media only screen and (max-width: 1399px) and (max-width: 749px) {
  .reviews.flavcity-cafe .reviews-slider__wrapper .review {
    padding: 0;
  }
}
.reviews.flavcity-cafe .review__content .h2 {
  font-family: var(--FONT-HEADING-SECONDARY);
  text-transform: unset;
  line-height: 130%;
}
.reviews.flavcity-cafe .review__content .review__author__content p {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}