// Countdown timer

@import "../tools/mixins.scss";
@import "../settings/variables.scss";

.countdown__timer {
  @include media-query($medium-up) {
    --gap: 12px;
  }

  @include media-query($small) {
    --gap: 6px;
  }

  margin: 0 calc(var(--gap) * -1);
}

.countdown__datetime {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap);

  .show-message & {
    display: none;
  }
}

.countdown__message {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;

  .show-message & {
    display: block;
  }
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;

  @include media-query($medium-up) {
    padding: 0 var(--inner);
  }
}

.timer--boxed {
  background: var(--digits-gradient);
  border-radius: var(--RADIUS-SELECT);
  padding: var(--inner);
}

.timer__unit {
  display: block;
  font-size: var(--text-font-size, var(--font-body-small));
}

.timer__digit {
  font-size: var(--digit-font-size, var(--font-body-x-large));

  .announcement__bar & { font-size: inherit; }
}