// Reviews
@import "../tools/mixins.scss";
@import "../settings/variables.scss";

.reviews {
  position: relative;
  overflow: hidden;
  background: var(--bg);

  @include media-query($small) { overflow: hidden; }
}

.reviews__grid[data-slider] .flickity-viewport { overflow: visible; }

.review__quote--open-negative { top: calc(var(--inner) / -2); }
.review__quote--close-negative { bottom: calc(var(--inner) / -2); }

.reviews--have-images {
  @include media-query($medium-up) {
    .reviews__grid {
      // Position relative required in order to calculate properly the slides offsetLeft position
      position: relative;
      padding-left: 0;
      padding-right: 0;
      scroll-padding: 0;
    }

    .reviews__grid-item {
      margin: 0;
      width: calc(100% / var(--columns));
      scroll-snap-align: start;
    }
  }

  .review__content {
    margin-left: var(--inner);
    margin-right: var(--inner);
  }
}

.reviews--no-images {
  @include media-query($small) {
    .reviews__grid-item { margin-right: var(--gap); }
  }
}

.reviews__grid {
  @include media-query($medium-up) {
    &.flickity-enabled { overflow: visible; }
  }

  @include media-query($small) {
    padding-left: var(--grid-outer);
    margin-left: var(--grid-outer-offset);
    margin-right: var(--grid-outer-offset);
    gap: 0;
    max-width: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-padding: var(--grid-outer);

    @include hide-scrollbar;

    &::after {
      content: "";
      display: block;
      position: relative;
      min-height: 1px;
      padding-right: var(--grid-outer);
    }
  }
}

.js .reviews__grid[data-slider]:not(.flickity-enabled) {
  @include media-query($medium-up) {
    display: flex;
    overflow-x: auto;
  }
}

.no-js .reviews__grid[data-slider] {
  @include media-query($medium-up) {
    display: flex;
    flex-wrap: wrap;
  }
}

.reviews__grid[data-slider]::after {
  @include media-query($medium-up) {
    content: "flickity";
    display: none;
  }
}

.reviews__grid-item {
  --columns: var(--COLUMNS);
  position: relative;

  flex: 0 0 auto;
  display: flex;
  width: calc(100% / var(--columns) - var(--gap) * (var(--columns) - 1) / var(--columns));
  margin-right: var(--grid-gap);

  @include media-query($medium) {
    --columns: var(--COLUMNS-MEDIUM);
  }

  @include media-query($small) {
    width: calc(100% - 50px);
    scroll-snap-align: start;
  }

  &:last-child { margin-right: 0; }
}

.reviews__grid-item:only-child {
  @include media-query($small) { width: 100%; }
}

// Review
.review {
  display: flex;
  align-items: stretch;
  width: 100%;
  background-color: var(--card-bg);

  @include media-query($medium-down) {
    position: relative;
    flex-direction: column;
  }
}

a.review {
  text-decoration: none;
  color: inherit;
  transition: color 0.4s;

  @media (hover: hover) {
    &:hover .review__image img,
    &:hover .review__image svg { transform: scale(1.06); }
  }
}

.review__image {
  position: relative;
  overflow: hidden;
  //From product
  flex: 0 0 50%;
  max-width: 50%;

  .reviews__grid-item-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  @include media-query($medium-down) {
    height: auto;
    flex: unset;
    max-width: unset;
  }


  //From staging
  //@include media-query($medium-up) {
  //  flex: 0 0 50%;
  //  max-width: 50%;
  //}
}

.review__image img,
.review__image svg { transition: transform 1s ease; }

.review__image svg {
  position: absolute;
  top: 0;
  left: 0;
}
.review__image .image-wrapper { min-height: 100%; } // Make sure images are at least as tall as the content

.review__content {
  //From staging
  //--inner: 30px;

  position: relative;
  //From staging
  //padding: var(--inner) 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  //From product
  padding: 40px 32px;

  @include media-query($large-down) {
    //From staging
    //--inner: 40px;

    //From product
    padding: 20px 12px;
  }
}

.review__content > :last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.review__content blockquote {
  //From product
  //@include heading;

  border: 0;
  margin: 0 0 2em;
  padding: 0;
  //From product
  font-weight: 600;
  //From product
  //line-height: 1.24;
  text-transform: none;
  //From product
  font-family: var(--FONT-STACK-SUBHEADING);

  //From product
  //@include media-query($small) { margin-bottom: 1.5em; }

  &.heading-mini {
    @include media-query($small) {
      font-size: 18px;
      line-height: 155.556%;
    }
  }

  @include media-query($small) {
    margin-bottom: 12px;
  }
}

.review__content blockquote:only-child {
  margin: auto 0;
  justify-self: center;
}

.review__content blockquote p {
  font-size: inherit;
  line-height: inherit;
}

.review__content blockquote > p { margin-top: 0; }
.review__content blockquote p:last-of-type { margin-bottom: 0; }

.review__content blockquote svg {
  display: block;
  width: 41px;
  height: 31px;
  margin-bottom: 64px;

  @include media-query($large-down) { margin-bottom: 42px; }

  @include media-query($small) {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.review--has-image {
  //From product
  height: 100%;

  //From staging
  //.review__content {
  //  @include media-query($medium-up) {
  //    flex-basis: 50%;
  //  }
  //}
}

.review--has-card-bg {
  //From staging
  //padding: var(--inner);

  //From product
  border-radius: 20px;
  overflow: hidden;
}

.review__quote {
  position: absolute;
  z-index: 1;
  width: var(--inner);
  height: var(--inner);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: var(--inner);
  overflow: visible;
}

.review__quote--single {
  left: 0;
  width: auto;
  height: auto;
  display: inline-block;

  @include media-query($small) {
    margin-bottom: 30px;
  }
}

.text-center .review__quote--single {
  left: 50%;
  transform: translateX(-50%);
}

.review__quote--open {
  left: 0;
  top: 0;
}

.review__quote--close {
  right: 0;
  bottom: 0;
}

.review__quote--close .review__quote-inner { justify-content: flex-end; }

.review__quote-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: inherit;
}

.review__author {
  position: relative;
  display: flex;
  margin: auto 0 var(--inner);

  //From product
  //min-height: 34px;
}

.review__content > .review__author:only-child {
  justify-self: center;
  margin: auto 0;
}

.review__author__content {
  flex: 0 1 auto;

  //From product
  p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;

    @include media-query($small) {
      font-size: 18px;
    }
  }
  //End from product
}

////From staging
//.review__author__name { font-size: var(--font-body-small); }

////From product
.review__author__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px; /* 150% */

  @include media-query($small) {
    font-size: 18px;
    line-height: 28px; /* 155.556% */
  }
}

.review__additional-code {
  height: 18px;
  margin-bottom: 16px;

  @include media-query($small) {
    margin-bottom: 12px;
  }
}


.review__author__subheading {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  margin-top: 8px;
}

//From product
//.review__author__subheading:not([class*="heading-"]) { font-size: var(--font-body-x-small); }

//.review__author__subheading:first-child { margin-top: 0; }

.review__author__bio-image {
  --image-size: 34px;

  flex: 0 0 var(--image-size);
  width: var(--image-size);
  height: var(--image-size);
  margin-right: 8px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.text-center .review__author__bio-image { margin: 0 auto 4px; }

.text-center .review__author {
  flex-direction: column;
  justify-content: center;
}

.review__tweet-url {
  font-size: var(--font-body-x-small);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;

  @include media-query($large-down) {
    margin-bottom: 15px;
  }
}

.review__foot { margin-top: auto; }

.review__foot:only-child {
  justify-self: center;
  margin: auto 0;
}

.review__foot > :last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.reviews__grid-slider {
  --grid-gap: 30px;

  @include media-query($small) {
    --grid-gap: 12px;
  }

  &.wrapper--full-padded {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      width: var(--outer);
      background-color: var(--bg);
      z-index: 1;

      @include media-query($medium-down) {
        content: unset;
      }
    }

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      width: var(--outer);
      background-color: var(--bg);
      z-index: 1;

      @include media-query($large-down) {
        content: unset;
      }
    }
  }

  .reviews__grid-item {
    @include media-query($large) {
      width: 60%;
      scroll-snap-align: start;
    }

    @include media-query($small) {
      width: 69.7%;
      scroll-snap-align: start;
    }
  }

  .image-wrapper img {
    object-fit: cover;
  }

  .slider__arrows {
    @include media-query($medium-down) {
      display: flex;
      justify-content: center;
      gap: 8px;
      position: relative;
      top: unset;
      bottom: unset;
      right: unset;
      left: unset;
      z-index: 10;
      overflow: hidden;
      pointer-events: none;
      margin-top: 24px;
    }
  }

  .slider__button {
    background-color: white;
    border: 2px solid var(--COLOR-SECONDARY);
    --btn-size: 60px;
    --grid-outer: 27px;
    //transform: unset;
    opacity: 1;
    //transform: rotateY(-50%);

    @include media-query($large-down) {
      --btn-size: 50px;
      --grid-outer: 10px;
      transform: unset;
    }

    &:disabled {
      visibility: visible;
      cursor: not-allowed;
      opacity: 0.5;
    }

    &:before {
      background: var(--COLOR-SECONDARY);
    }

    &:after {
      content: unset;
    }

    @include media-query($medium-down) {
      position: relative;
      top: unset;
      bottom: unset;
      right: unset;
      left: unset;
      margin-top: 0;
    }

    @include media-query($small) {
      display: block;
    }
  }
}

.reviews-slider__section {
  .reviews-slider__wrapper {
    padding-left: 11.5%;
    padding-right: 11.5%;

    @include media-query($small) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .reviews__grid-item {
    width: 100%;
    margin: 0;
  }

  .review {
    padding: 0 15%;
    @include media-query($small) {
      padding:0 16px;
    }
  }

  .review__content {
    justify-content: start;
    padding-bottom: 0;

    @include media-query($small) {
      padding: 24px 0;
    }
  }

  .review__stars {
    padding-bottom: 32px;

    @include media-query($small) {
      padding-bottom: 20px;
    }
  }

  .review__author {
    margin: 0;
  }

  .review__author__content {
    padding-top: 32px;

    @include media-query($small) {
      padding-top: 20px;
    }

    .body-large{
      font-weight: 600;
    }
  }

  .slider__button {
    opacity: 1;

    @include media-query($small) {
      top: 26px;
    }

    &[disabled] {
      cursor: default;
      opacity: 0.5;
    }
  }

  @include media-query($small) {
    .slider__arrows {
      position: relative;
      overflow: visible;
      left: 0;
      right: 0;
      height: 51px;
    }

    .slider__button--prev {
      left: 34%;
    }

    .slider__button--next {
      right: 34%;
    }
  }
}

.reviews-slider__container {

  .review__content {
    --inner: 24px;
    padding: var(--inner) 0;

    @include media-query($medium-up) {
      --inner: 40px;
    }
  }

  .review__author__subheading {
    margin-top: 3px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  .review {
    @include media-query($small) {
      padding: 0;
    }
  }

  .swiper-button-prev {
    top: 40%;
  }

  .swiper-button-next {
    top: 40%;
  }

  @include media-query($small) {
    padding-bottom: 50px;

    .swiper-button-prev {
      top: auto;
      bottom: 0;
      left: 33%;
    }

    .swiper-button-next {
      top: auto;
      bottom: 0;
      right: 33%;
    }
  }

  .swiper-button-prev[aria-disabled=true],
  .swiper-button-next[aria-disabled=true] {
    opacity: 0.5 !important;
    display: flex;
    pointer-events: none;
    cursor: not-allowed;
  }
}



.reviews.flavcity-cafe {
  background:  var(--bg-accent);

  .reviews-slider__section-title {
    color: var(--COLOR-LINK);
  }

  .reviews-slider__wrapper {
    padding-left: 17%;
    padding-right: 17%;

    @include media-query($large-down) {
      padding-left: 11%;
      padding-right: 11%;
    }

    @include media-query($small) {
      padding-left: 0;
      padding-right: 0;
    }

    .review {
      padding: 0 10%;

      @include media-query($large-down) {
        padding: 0 15%;

        @include media-query($small) {
          padding: 0;
        }
      }
    }
  }

  .review__content {
    .h2 {
      font-family: var(--FONT-HEADING-SECONDARY);
      text-transform: unset;
      line-height: 130%;
    }

    .review__author__content p {
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
