@import "../tools/mixins.scss";
@import "../settings/variables.scss";


.image-with-text-bg {
  background: var(--background-color, transparent);
  position: relative;
  margin-top: -1px;
  // overflow: hidden;

  .brick__section {
    gap: 25px;
    background-color: var(--bg);
    border-radius: 24px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 64px;
    padding-bottom: 64px;

    div:empty{
      display: none;
    }

    &.wrapper--full-padded {
      max-width: calc(100% - 100px);
      padding-left: 7.5%;
      padding-right: 7.5%;

      @include media-query($large-down) {
        max-width: calc(100% - 50px);
        padding-left: 50px;
        padding-right: 50px;
      }

      @include media-query($medium-down) {
        max-width: calc(100% - 32px);
        padding: 40px 22px;
        gap: 48px;
      }
    }

    &.wrapper {
      max-width: 1340px;
      padding-left: 7.5%;
      padding-right: 7.5%;

      @include media-query($large-down) {
        padding-left: 50px;
        padding-right: 50px;
      }

      @include media-query($medium-down) {
        padding-left: 21px;
        padding-right: 21px;
      }
    }    
  }  

  .brick__block {
    .brick__block__image {
      @include media-query($medium-down) {
        padding: 0;
      }

      .image-height {
        min-height: auto;
      }

      .image__hero__frame {
        overflow: visible;
        --aspect-ratio: 1 !important;
        --aspect-ratio-mobile: 1 !important;
      }
    }

    .brick__block__text {
      flex-basis: 78%;
      margin: 0;
      padding: 0;

      @include media-query($large-down) {
        flex-basis: 100%;
      }

      @include media-query($medium-down) {
        padding: 0;
      }

      .hero__content--compact {
        @include media-query($small) {
          padding: 0;
        }
      }

      .hero__title {
        line-height: 100%;

        @include media-query($medium-down) {
          text-align: center;
        }
      }

      .heading-large {
        font-size: 56px;

        @include media-query($medium-down) {
          font-size: 32px;
        }
      }

      .heading-x-large {
        font-size: 72px;

        @include media-query($medium-down) {
          font-size: 32px;
        }
      }

      .hero__button {
        margin-top: 0;

        .btn {
          padding: 16px 20px;
          min-width: 150px;
          max-height: 64px;

          @include media-query($small) {
            padding: 8px 20px;
            width: 100%;
            max-width: 100%;
            font-size: 18px;
            text-transform: uppercase;
          }
        }
      }        
    }
  }
}

.iwt-bg__image {
  .iwt-bg__image-mobile {
    display: none;

    @media only screen and (max-width: 450px) {
      display: block;
    }
  }

  &:has(.iwt-bg__image-mobile) {
    @media only screen and (max-width: 450px) {
      .iwt-bg__image-desktop, 
      .iwt-bg__image-secondary {
        display: none;
      }
    }    
  }
  
  .iwt-bg__image-secondary {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
  }
  
  .iwt-bg__image-desktop,
  .iwt-bg__image-secondary,
  .iwt-bg__image-mobile {
    // scale: 1;
  }
}  
