// Text promo

@import "../tools/mixins.scss";
@import "../settings/variables.scss";

.text-promo {
  .hero__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  .hero__title,
  .hero__app,
  .hero__rte,
  .hero__button {
    position: relative;
    margin: 10px 20px;
    z-index: 20;
  }
  .hero__button { margin: 10px; }

  @include media-query($small) {
    flex-direction: column;

    .hero__title,
    .hero__app,
    .hero__rte {
      margin: 8px 10px;
    }
    .hero__button { margin: 8px; }
  }

  .hero__content {
    padding: var(--inner) var(--outer);
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  .backdrop--radial:before { z-index: initial; }
}

.text-promo-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
}

.text-promo-inner--border { border: 1px solid var(--border); }
